@font-face {
	font-family: "Limkin";
	src: url('/assets/fonts/limkin.ttf');
	font-weight: 100 900;
}
@font-face {
	font-family: "IBM Plex";
	src: url('/assets/fonts/IBMPlexMono-Regular.ttf');
}
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
body {
	font-family: 'Limkin', 'Arial', sans-serif;
	font-variation-settings: 'wght' 400, 'SRFF' 0;
	color: var(--white);
	background-color: var(--black);
}
:root {
	--red: #FF734D;
	--blue: #5ADDE8;
	--purple: #A690FC;
	--yellow: #fcc03a;
	--pink: #F3A8DD;
	--green: #98DB6B;
	--black: #353535;
	--black2: #282828;
	--black3: #1b1b1b;
	--white: #e5e5e5;
}

/* Hide scrollbars */
*::-webkit-scrollbar {
	display: none;
}
* {
	-ms-overflow-style: none;  /* IE and Edge */
	scrollbar-width: none;  /* Firefox */
}

/* Container */
.container {
	--primary: var(--red);
	width: 100vw;
	height: 100dvh;
	position: relative;
	display: grid;
	grid-template-columns: 40px minmax(0, 1fr);
	justify-content: stretch;
	align-items: stretch;
}
.container[data-color='red'] {
	--primary: var(--red);
}
.container[data-color='blue'] {
	--primary: var(--blue);
}
.container[data-color='purple'] {
	--primary: var(--purple);
}
.container[data-color='yellow'] {
	--primary: var(--yellow);
}
.container[data-color='green'] {
	--primary: var(--green);
}
.container[data-color='pink'] {
	--primary: var(--pink);
}

/* Tooltips */
.tooltip-container {
	position: absolute;
	top: 0;
	left: 0;
	width: 100vw;
	height: 100dvh;
	z-index: 99999;
	pointer-events: none;
	overflow: hidden;
	opacity: 0;
}
.tooltip-overflowfix {
	position: absolute;
	top: 0;
	left: 0;
	width: 200vw;
	height: 100dvh;
}
@keyframes tooltip-top {
	from {
		transform: translateY(4px) translateX(-50%);
	}
	to {
		transform: translateY(12px) translateX(-50%);
	}
}
@keyframes tooltip-right {
	from {
		transform: translateX(-4px) translateY(-50%);
	}
	to {
		transform: translateX(-12px) translateY(-50%);
	}
}
@keyframes tooltip-bottom {
	from {
		transform: translateY(-4px) translateX(-50%);
	}
	to {
		transform: translateY(-12px) translateX(-50%);
	}
}
@keyframes tooltip-left {
	from {
		transform: translateX(4px) translateY(-50%);
	}
	to {
		transform: translateX(12px) translateY(-50%);
	}
}
.tooltip {
	position: absolute;
	font-size: 12px;
	display: flex;
	align-items: center;
	font-variation-settings: 'wght' 650, 'SRFF' 0;
	filter: drop-shadow(0 0 4px rgba(0,0,0,.2));
}
.tooltip svg {
	flex: 0 0 auto;
	height: 16px;
	width: 16px;
	fill: var(--white);
}
.tooltip-text {
	flex-shrink: 0;
	display: flex;
	align-items: center;
	padding: 8px 16px 6px 16px;
	text-align: center;
	line-height: 1.4em;
	color: var(--black);
	background-color: var(--white);
	max-width: 240px;
}
.tooltip[data-direction="left"] {
	animation: tooltip-left 1s ease-in-out infinite alternate;
}
.tooltip[data-direction="right"] {
	animation: tooltip-right 1s ease-in-out infinite alternate;
}
.tooltip[data-direction="left"] svg {
	order: 0;
}
.tooltip[data-direction="right"] svg {
	order: 1;
	transform: rotate(180deg);
}
.tooltip[data-direction="top"] {
	animation: tooltip-top 1s ease-in-out infinite alternate;
	flex-direction: column;
}
.tooltip[data-direction="bottom"] {
	animation: tooltip-bottom 1s ease-in-out infinite alternate;
	flex-direction: column;
}
.tooltip[data-direction="top"] svg {
	transform: rotate(90deg);
}
.tooltip[data-direction="bottom"] svg {
	order: 1;
	transform: rotate(-90deg);
}
.tooltip[data-hide="1"] {
	display: none;
}

/* Controls */
.controls {
	display: flex;
	flex-direction: column;
	background-color: var(--black);
	overflow-y: scroll;
	z-index: 99;
}
.controls-btn {
	background-color: var(--black2);
	padding: 8px;
	display: flex;
	align-items: center;
	justify-content: center;
	fill: var(--primary);
	cursor: pointer;
}
.controls-btn svg {
	width: 100%;
}
.controls-btn[data-active="1"] {
	background-color: var(--primary);
	fill: var(--black);
}
@keyframes catalog-btn {
	0% {
		background-color: var(--pink);
	}
	17% {
		background-color: var(--green);
	}
	34% {
		background-color: var(--blue);
	}
	51% {
		background-color: var(--yellow);
	}
	68% {
		background-color: var(--purple);
	}
	84% {
		background-color: var(--red);
	}
	100% {
		background-color: var(--pink);
	}
}
#catalog-btn {
	animation: catalog-btn 10s infinite;
	fill: var(--black);
}
.controls-btn:hover {
	opacity: .5;
}
.controls-btn:active {
	background-color: var(--white) !important;
	fill: var(--black);
	opacity: 1;
}
.controls-spacer {
	flex-grow: 1;
	background-color: var(--primary);
	opacity: .25;
	min-height: 38px;
}

/* Content */
.content {
	display: flex;
	/* border-left: 2px solid var(--black3); */
	min-height: 0;
	min-width: 0;
}
.panel {
	overflow: hidden;
	width: calc(100% / 3);
	flex-grow: 0;
	flex-shrink: 0;
	position: relative;
	display: flex;
	flex-direction: column;
}
.panel[data-hide='1'] {
	display: none;
}
.panel-label {
	flex: 0 0 24px;
	width: 100%;
	height: 24px;
	display: flex;
	align-items: center;
	background-color: var(--black3);
	color: var(--white);
	fill: var(--primary);
	/* border-top: 2px solid var(--black3); */
	font-size: 12px;
	padding: 1px 8px;
	gap: 6px;
	font-variation-settings: 'wght' 550, 'SRFF' 0;
	cursor: help;
}
.panel-label svg {
	height: 100%;
	aspect-ratio: 1/1;
	padding: 2px;
	flex-shrink: 0;
}
.panel-label div {
	padding-top: .2em;
}

/* No panels open message */
.panel-empty {
	background-color: var(--black3);
	height: 100%;
	width: 100%;
}
.panel-empty[data-hide="1"] {
	display: none;
}
.panel-empty-msg {
	position: absolute;
	top: calc(50% - 20px);
	left: 40px;
	display: flex;
	align-items: center;
	padding: 8px 16px 6px 16px;
	font-size: 12px;
	font-variation-settings: 'wght' 650, 'SRFF' 0;
	filter: drop-shadow(0 0 4px rgba(0,0,0,.2));
	text-align: center;
	line-height: 1.4em;
	color: var(--black);
	animation: tooltip-left 1s ease-in-out infinite alternate;
}
.panel-empty-text {
	flex-shrink: 0;
	display: flex;
	align-items: center;
	padding: 8px 16px 6px 16px;
	text-align: center;
	line-height: 1.4em;
	color: var(--black);
	background-color: var(--white);
	max-width: 240px;
}
.panel-empty-msg svg {
	flex: 0 0 auto;
	height: 16px;
	width: 16px;
	fill: var(--white);
}

/* Panel resizers */
.resizer {
	flex: 0 0 2px;
	background-color: var(--black3);
	cursor: ew-resize;
	margin: 0 -1px;
	z-index: 99;
	width: 2px;
	opacity: 1;
	-webkit-user-select: none; /* Safari */
	-ms-user-select: none; /* IE 10 and IE 11 */
	user-select: none; /* Standard syntax */
}
.resizer:hover {
	background-color: var(--white);
}
.resizer:active {
	background-color: var(--white);
	opacity: .5;
	cursor: ew-resize;
}
.resizer[data-hide="1"] {
	display: none;
}

/* Loading screen */
.loading {
	width: 100%;
	height: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	padding: 32px;
	fill: var(--primary);
}
.container[data-loading="0"] .loading {
	display: none;
}
.container[data-loading="1"] .panel {
	display: none;
}
.container[data-loading="1"] {
	cursor: progress;
}
.container[data-loading="1"] .content {
	background-color: var(--black3);
}
.container[data-loading="1"] .controls {
	cursor: not-allowed;
}
.container[data-loading="1"] .controls-btn {
	opacity: .5;
	pointer-events: none;
}
.loading-msg {
	display: flex;
	align-items: center;
	flex-direction: column;
	padding: 8px 16px 6px 16px;
	text-align: center;
	line-height: 1.4em;
	color: var(--black);
	font-size: 12px;
	font-variation-settings: 'wght' 650, 'SRFF' 0;
	filter: drop-shadow(0 0 4px rgba(0,0,0,.2));
	animation: loading-msg 1s ease-in-out infinite alternate;
}
.loading-msg svg {
	flex: 0 0 auto;
	height: 16px;
	width: 16px;
	fill: var(--white);
	transform: rotate(-90deg);
}
.loading-msg-text {
	flex-shrink: 0;
	display: flex;
	align-items: center;
	padding: 8px 16px 6px 16px;
	text-align: center;
	line-height: 1.4em;
	color: var(--black);
	background-color: var(--white);
	max-width: 240px;
}
@keyframes loading-msg {
	from {
		transform: translateY(-4px);
	}
	to {
		transform: translateY(-12px);
	}
}
.loading-icon {
	width: 40px;
	height: 40px;
	animation: loading 1.5s infinite linear, loading-pulse 6s infinite linear;
}
@keyframes loading {
	from {
		transform: rotate(0deg);
	}
	to {
		transform: rotate(-360deg);
	}
}
@keyframes loading-pulse {
	0% {
		fill: var(--pink);
	}
	17% {
		fill: var(--green);
	}
	34% {
		fill: var(--blue);
	}
	51% {
		fill: var(--yellow);
	}
	68% {
		fill: var(--purple);
	}
	84% {
		fill: var(--red);
	}
	100% {
		fill: var(--pink);
	}
}

/* Info panel */
.info-container {
	overflow-y: scroll;
	flex-grow: 1;
	background-color: var(--black2);
	text-wrap: pretty;
}
.info-body {
	min-width: 320px;
	max-width: 600px;
	margin: 0 auto;
	width: 100%;
	background-color: var(--black);
}
.info-content {
	font-size: 16px;
	font-weight: 400;
	font-variation-settings: "wght" 300, "SRFF" 0;
	line-height: 1.4em;
	padding: 48px;
}
.info-content h1 {
	font-size: 40px;
	padding-top: 8px;
	line-height: 1em;
	font-family: 'Limkin', serif;
	font-variation-settings: "wght" 700, "SRFF" 0;
	margin-bottom: 24px;
}
.info-content h1 span {
	color: var(--primary);
	display: block;
	font-family: "Limkin", sans-serif;
	font-size: 16px;
	letter-spacing: 0.02em;
	text-transform: uppercase;
	line-height: 1em;
	margin-bottom: 6px;
	font-variation-settings: "wght" 700, "SRFF" 0;
}
.info-content h2 {
	font-size: 16px;
	line-height: 1em;
	letter-spacing: .02em;
	font-variation-settings: "wght" 700, "SRFF" 0;
	color: var(--primary);
	text-transform: uppercase;
	margin: 40px 0 24px 0;
	border-top: 1px solid var(--primary);
	padding-top: 12px;
}
.info-content p {
	margin: 16px 0;
	letter-spacing: -0.01em;
}
.info-content strong {
	font-variation-settings: "wght" 650, "SRFF" 0;
}
.info-content a {
	color: var(--primary);
	text-decoration: 1px underline;
	text-underline-offset: .2em;
}
.info-content a:hover {
	opacity: .5;
}
.info-content a:active {
	opacity: 1;
	color: var(--white);
}
.info-content ul, .info-content ol {
	padding-left: 16px;
	margin-top: 16px;
	display: flex;
	flex-direction: column;
	gap: 4px;
}
.info-content li {
	padding-left: 10px;
}
.info-content li::marker {
	color: var(--primary);
}
.info-content figure {
	margin: 32px 0;
}
.info-content figure img {
	display: block;
	width: 100%;
}
.info-content figure figcaption {
	text-align: center;
	padding-top: 8px;
	line-height: 1.4em;
	color: var(--white);
	font-size: 12px;
	font-variation-settings: 'wght' 550, 'SRFF' 0;
}
.info-content figure figcaption a {
	color: var(--primary);
}
.info-content figure figcaption a:hover {
	opacity: .5;
}
.info-content figure figcaption a:active {
	opacity: 1;
	color: var(--white);
}
.info-next {
	color: var(--primary);
	text-decoration: none;
	padding: 24px;
	line-height: 1.2em;
	display: flex;
	align-items: center;
	justify-content: center;
	text-align: center;
	background-color: var(--black2);
	font-variation-settings: 'wght' 550, 'SRFF' 0;
}
.info-next:hover {
	opacity: .5;
}
.info-next:active {
	opacity: 1;
	background-color: var(--white);
	color: var(--black);
}
.info-code {
	font-family: "IBM Plex", monospace;
	font-size: .8em;
	background-color: rgba(0,0,0,.5);
}

/* Info panel navigation */
.info-nav {
	position: sticky;
	top: 0;
	z-index: 1;
}
.info-nav-bar {
	position: relative;
	display: flex;
	background-color: var(--black);
	height: 40px;
}
.info-nav-collection {
	flex-grow: 1;
	height: 100%;
	display: flex;
	align-items: center;
	background-color: var(--black2);
	padding: 0 16px;
	color: var(--primary);
	fill: var(--primary);
	font-size: 12px;
	letter-spacing: 0.02em;
	text-transform: uppercase;
	line-height: 1.2em;
	margin-bottom: 8px;
	gap: 12px;
	overflow: hidden;
	font-variation-settings: "wght" 700, "SRFF" 0;
	cursor: pointer;
}
.info-nav[data-active="1"] .info-nav-collection {
	background-color: var(--primary);
	color: var(--black);
	fill: var(--black);
}
.info-nav-collection:hover {
	opacity: .5;
}
.info-nav-collection:active {
	opacity: 1;
	color: var(--black);
	fill: var(--black);
	background-color: var(--white) !important;
}
.info-nav-collection svg {
	width: 24px;
	height: 24px;
	flex-shrink: 0;
}
.info-nav-collection span {
	padding-top: .2em;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
}
.info-nav-prevnext {
	width: 40px;
	height: 40px;
	background-color: var(--black2);
	fill: var(--primary);
	display: flex;
	align-items: center;
	justify-content: center;
	cursor: pointer;
	border: unset;
	flex-shrink: 0;
}
.info-nav-prevnext:hover {
	opacity: .5;
}
.info-nav-prevnext:active {
	opacity: 1;
	background-color: var(--white);
	fill: var(--black);
}
.info-nav-prevnext svg {
	width: 24px;
	height: 24px;
	flex-shrink: 0;
}
.info-nav-demos {
	display: flex;
	flex-direction: column;
	position: absolute;
	top: 40px;
	left: 0;
	width: 100%;
	overflow-y: scroll;
	gap: 2px;
	max-height: calc(100dvh - 64px);
	background-color: var(--black2);
}
.info-nav[data-active="0"] .info-nav-demos {
	display: none;
}
.info-nav-demo {
	display: flex;
}
.info-nav-demo-link {
	background-color: var(--black3);
	color: var(--primary);
	fill: var(--primary);
	text-decoration: none;
	padding: 0 16px;
	display: flex;
	align-items: center;
	min-height: 40px;
	gap: 12px;
	overflow: hidden;
	flex-grow: 1;
}
.info-nav-demo-link:hover .info-nav-demo-link-number,
.info-nav-demo-link:hover .info-nav-demo-link-name {
	opacity: .5;
}
.info-nav-demo-link:active {
	opacity: 1;
	background-color: var(--white);
	color: var(--black);
	fill: var(--black);
}
.info-nav-demo-link:active .info-nav-demo-link-number {
	background-color: var(--black);
	color: var(--white);
	opacity: 1;
}
.info-nav-demo-link:active .info-nav-demo-link-name {
	opacity: 1;
}
.info-nav-demo-link-number {
	width: 24px;
	flex-shrink: 0;
	height: 24px;
	background-color: var(--primary);
	font-size: 12px;
	color: var(--black2);
	font-variation-settings: "wght" 700, "SRFF" 0;
	display: flex;
	align-items: center;
	justify-content: center;
	padding-top: .2em;
}
.info-nav-demo-link-name {
	padding-top: .2em;
	font-size: 12px;
	letter-spacing: 0.02em;
	text-transform: uppercase;
	line-height: 1.2em;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	font-variation-settings: "wght" 700, "SRFF" 0;
}
.info-nav-demo-newtab {
	background-color: var(--black3);
	fill: var(--primary);
	display: flex;
	align-items: center;
	justify-content: center;
	flex-shrink: 0;
	width: 40px;
	height: 40px;
}
.info-nav-demo-newtab:hover {
	opacity: .5;
}
.info-nav-demo-newtab:active {
	opacity: 1;
	background-color: var(--white);
	fill: var(--black);
}
.info-nav-demo-newtab svg {
	width: 24px;
	flex-shrink: 0;
	height: 24px;
}

/* Editor panel */
.editor-container {
	width: 100%;
	height: 100%;
	overflow: hidden;
	display: flex;
	flex-direction: column;
}
.editor-content {
	width: 100%;
	flex-grow: 1;
	flex-shrink: 1;
	background-color: var(--black3);
	overflow: scroll;
	--font-size: 14px;
}
.editor-controls {
	display: flex;
	background-color: var(--black2);
	/* border-top: 2px solid var(--black3); */
	flex-shrink: 0;
	overflow-x: scroll;
}
.editor-controls button {
	border: unset;
	flex-grow: 1;
	fill: var(--primary);
	background-color: var(--black2);
	cursor: pointer;
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 4px;
}
.editor-controls button[data-active="1"] {
	fill: var(--black);
	background-color: var(--primary);
}
.editor-controls button[data-disabled="1"] {
	background-color: var(--black3);
	opacity: .5;
	cursor: not-allowed;
}
.editor-controls button svg {
	height: 20px;
	width: 20px;
}
.editor-controls button:hover {
	opacity: .5;
}
.editor-controls button:active {
	background-color: var(--white);
	fill: var(--black);
	opacity: 1;
}
.editor-console {
	/* border-top: 2px solid var(--black3); */
	flex: 0 0 160px;
	height: 160px;
	background-color: var(--black3);
	color: var(--white);
	overflow-y: scroll;
	display: flex;
	flex-direction: column;
}
#editor[data-console="0"] .editor-console {
	display: none;
}
.editor-console-log {
	flex-grow: 1;
	overflow-y: scroll;
	padding: 2px;
	font-family: "IBM Plex", monospace;
	font-size: 14px;
	display: flex;
	flex-direction: column;
	gap: 2px;
}
.editor-console-log-in {
	flex-shrink: 0;
	padding: 4px 8px;
	overflow: hidden;
	opacity: .5;
}
.editor-console-log-out {
	flex-shrink: 0;
	background-color: rgba(0,0,0,.2);
	padding: 4px 8px;
	overflow: hidden;
	min-height: calc(1.4em + 8px);
}
.editor-console-input {
	flex-shrink: 0;
	display: flex;
	font-family: "IBM Plex", monospace;
	background-color: var(--black);
	padding: 4px 8px;
	gap: 6px;
	align-items: center;
	min-width: 320px;
}
.editor-console-input svg {
	height: 20px;
	width: 20px;
	fill: var(--primary);
}
.editor-console-input input {
	font-family: "IBM Plex", monospace;
	flex-grow: 1;
	background-color: unset;
	color: var(--white);
	border: unset;
	font-size: 14px;
}
.editor-console-input input:focus {
	outline: unset;
}

/* CodeMirror */
.CodeMirror {
	cursor: text;
	min-width: 320px;
	width: 100%;
	height: 100%;
	overflow: scroll;
}
.CodeMirror * {
	font-family: "IBM Plex", monospace;
	font-size: var(--font-size);
}
.CodeMirror pre > * { text-indent: 0px; }
.cm-s-gdwithgd.CodeMirror {
	color: var(--white);
	height: 100%;
	background-color: var(--black3);
}
.cm-s-gdwithgd div.CodeMirror-selected { background: var(--black); }
.cm-s-gdwithgd .CodeMirror-line::selection, .cm-s-gdwithgd .CodeMirror-line > span::selection, .cm-s-gdwithgd .CodeMirror-line > span > span::selection { background: var(--black3); }
.cm-s-gdwithgd .CodeMirror-line::-moz-selection, .cm-s-gdwithgd .CodeMirror-line > span::-moz-selection, .cm-s-gdwithgd .CodeMirror-line > span > span::-moz-selection { background: var(--black3); }
.cm-s-gdwithgd .CodeMirror-gutters { background: #111; border-right: none; }
.cm-s-gdwithgd .CodeMirror-guttermarker { color: var(--red); }
.cm-s-gdwithgd .CodeMirror-guttermarker-subtle { color: var(--black3); }
.cm-s-gdwithgd .CodeMirror-linenumber { color: var(--white); background-color: var(--black3); opacity: .5;}

.cm-s-gdwithgd .CodeMirror-cursor { border-left: 2px solid var(--white); }

.cm-s-gdwithgd span.cm-comment { color: rgba(255,255,255,.4); }
.cm-s-gdwithgd span.cm-atom { color: var(--blue); }
.cm-s-gdwithgd span.cm-number { color: var(--blue); }

.cm-s-gdwithgd span.cm-property, .cm-s-gdwithgd span.cm-attribute { color: var(--green); }
.cm-s-gdwithgd span.cm-keyword { color: var(--red); }
.cm-s-gdwithgd span.cm-string { color: var(--yellow); }

.cm-s-gdwithgd span.cm-variable { color: var(--green); }
.cm-s-gdwithgd span.cm-variable-2 { color: var(--purple); }
.cm-s-gdwithgd span.cm-def { color: var(--pink); }
.cm-s-gdwithgd span.cm-bracket { color: #d6d5d4; }
.cm-s-gdwithgd span.cm-tag { color: var(--red); }
.cm-s-gdwithgd span.cm-link { color: var(--blue); }
.cm-s-gdwithgd span.cm-error { background: var(--white); color: var(--black); }

.cm-s-gdwithgd .CodeMirror-activeline-background { background: var(--black3); }
.cm-s-gdwithgd .CodeMirror-matchingbracket { color: var(--white) !important; background-color: rgba(255,255,255,.3);}
.cm-s-gdwithgd .CodeMirror-nonmatchingbracket {color: red !important;}

.CodeMirror-hints {
	border: 2px solid var(--white) !important;
	background-color: var(--white) !important;
	border-radius: unset !important;
	padding: unset !important;
}
.CodeMirror-hint {
	color: var(--black) !important;
	font-family: "IBM Plex", monospace !important;
	font-size: 12px !important;
	border-radius: unset !important;
	padding: 0 5px !important;
}
.CodeMirror-hint:hover {
	opacity: .5;
}
.CodeMirror-hint:active {
	opacity: .25;
}
li.CodeMirror-hint-active {
	color: var(--white) !important;
	background-color: var(--black) !important;
}

/* Preview panel */
.preview-container {
	width: 100%;
	height: 100%;
	display: flex;
	flex-direction: column;
	position: relative;
	overflow: scroll;
}
.preview-msg-container {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 9;
	background-color: rgba(0,0,0,.6);
	backdrop-filter: blur(2px);
	padding: 32px;
	min-width: 320px;
}
.preview-msg-container[data-active="0"] {
	display: none;
}
.preview-msg {
	display: flex;
	align-items: center;
	flex-direction: column;
	padding: 8px 16px 6px 16px;
	text-align: center;
	line-height: 1.4em;
	color: var(--black);
	font-size: 12px;
	font-variation-settings: 'wght' 650, 'SRFF' 0;
	filter: drop-shadow(0 0 4px rgba(0,0,0,.2));
	animation: preview-msg 1s ease-in-out infinite alternate;
}
.preview-msg svg {
	flex: 0 0 auto;
	height: 16px;
	width: 16px;
	fill: var(--white);
	transform: rotate(-90deg);
}
.preview-msg-text {
	flex-shrink: 0;
	display: flex;
	align-items: center;
	padding: 8px 16px 6px 16px;
	text-align: center;
	line-height: 1.4em;
	color: var(--black);
	background-color: var(--white);
}
@keyframes preview-msg {
	from {
		transform: translateY(-4px);
	}
	to {
		transform: translateY(-12px);
	}
}
.preview-delay-timer {
	border: 2px solid var(--primary);
	width: 100%;
	height: 24px;
	max-width: 240px;
	padding: 2px;
}
.preview-delay-timer-inside {
	width: 100%;
	height: 100%;
	background-color: var(--primary);
	transform-origin: left;
	animation-duration: 5s;
	animation-fill-mode: forwards;
	animation-timing-function: linear;
}
@keyframes preview-delay {
	from {
		transform: scaleX(1);
	}
	to {
		transform: scaleX(0);
	}
}
.preview-content {
	flex-grow: 1;
	width: 100%;
	background-color: white;
	border: unset;
	min-width: 320px;
}
.preview-dimensions {
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: var(--black2);
	color: var(--white);
	fill: var(--white);
	padding: 4px;
	/* border-top: 2px solid var(--black3); */
	position: sticky;
	left: 0;
	cursor: help;
}
.preview-dimensions svg {
	width: 16px;
	height: 16px;
}
.preview-dimensions span {
	height: 20px;
	display: flex;
	align-items: center;
	justify-content: center;
	font-size: 12px;
	letter-spacing: 0.02em;
	text-transform: uppercase;
	line-height: 1.2em;
	padding-top: .2em;
	gap: 8px;
	font-variation-settings: "wght" 700, "SRFF" 0;
}