@font-face {
	font-family: "Limkin";
	src: url("https://toomuchtype.com/fonts/limkin/variable/TMT-LimkinVF.ttf") format(truetype),
		 url("https://toomuchtype.com/fonts/limkin/variable/TMT-LimkinVF.woff") format(woff),
		 url("https://toomuchtype.com/fonts/limkin/variable/TMT-LimkinVF.woff2") format(woff2);
	font-weight: 100 900;
}
@font-face {
	font-family: "Monaspace";
	src: url('../fonts/MonaspaceNeonVarVF[wght,wdth,slnt].ttf');
	font-weight: 200 800;
}
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
body {
	font-family: 'Limkin', 'Arial', sans-serif;
	font-variation-settings: 'wght' 400, 'SRFF' 0;
	font-weight: 400;
	color: var(--white);
	background-color: var(--black4);
	overscroll-behavior: none;
}
:root {
	--red: #FF734D;
	--blue: #5ADDE8;
	--purple: #A690FC;
	--yellow: #fcc03a;
	--pink: #F3A8DD;
	--green: #98DB6B;
	--black: hsl(0, 0%, 30%);
	--black2: hsl(0, 0%, 22%);
	--black3: hsl(0, 0%, 14%);
	--black4: hsl(0, 0%, 8%);
	--white: hsl(0, 0%, 90%);
	--truewhite: white;
	--primary: var(--white);
}

/* Animations */
@keyframes rainbow {
	0% {
		background-color: var(--pink);
	}
	17% {
		background-color: var(--green);
	}
	34% {
		background-color: var(--blue);
	}
	51% {
		background-color: var(--yellow);
	}
	68% {
		background-color: var(--purple);
	}
	84% {
		background-color: var(--red);
	}
	100% {
		background-color: var(--pink);
	}
}
@keyframes rainbow-text {
	0% {
		color: var(--pink);
		fill: var(--pink);
	}
	17% {
		color: var(--green);
		fill: var(--green);
	}
	34% {
		color: var(--blue);
		fill: var(--blue);
	}
	51% {
		color: var(--yellow);
		fill: var(--yellow);
	}
	68% {
		color: var(--purple);
		fill: var(--purple);
	}
	84% {
		color: var(--red);
		fill: var(--red);
	}
	100% {
		color: var(--pink);
		fill: var(--pink);
	}
}

/* Hide scrollbars */
*::-webkit-scrollbar {
	display: none;
}
* {
	-ms-overflow-style: none;  /* IE and Edge */
	scrollbar-width: none;  /* Firefox */
}

/* Title */
.title {
	height: 24px;
	display: flex;
	align-items: center;
	text-align: center;
	font-size: 12px;
	border-bottom: 1px solid var(--black2);
	background-color: var(--black3);
	font-variation-settings: 'wght' 550, 'SRFF' 0;
	font-weight: 550;
	overflow-x: scroll;
	white-space: nowrap;
}
.title-book {
	flex-shrink: 0;
	height: 23px;
	display: flex;
	align-items: center;
	padding: 0 16px;
	fill: var(--white);
	gap: 8px;
	text-decoration: none;
	color: var(--white);
	background-color: var(--black2);
	outline: 1px solid var(--black2);
}
.container[data-loading="1"] .title-book {
	display: none;
}
.title-book svg {
	height: 16px;
}
.title-book span {
	padding-top: .2em;
}
.title-chapter {
	flex-shrink: 0;
	height: 23px;
	display: flex;
	align-items: center;
	padding: .2em 16px 0 16px;
	text-decoration: none;
	color: var(--primary);
	outline: 1px solid var(--black2);
}
.title-chapter[data-active="1"] {
	background-color: var(--primary);
	color: var(--black3)
}
.title-chapter.title-chapter-rainbow[data-active="1"] {
	animation: rainbow 10s infinite linear;
}
.title-chapter.title-chapter-rainbow {
	animation: rainbow-text 10s infinite linear;
}
.title-chapter-subtitle {
	text-transform: uppercase;
	font-size: 10px;
	letter-spacing: .02em;
	padding: .25em .4em .1em .42em;
	transform: translateY(-.1em);
	border-radius: 2px;
	margin-right: 8px;
	line-height: 1em;
	color: var(--black3);
	display: inline-block;
	background-color: var(--primary);
	font-variation-settings: "wght" 625, "SRFF" 0;
	font-weight: 625;
}
.title-chapter[data-active="1"] .title-chapter-subtitle {
	background-color: var(--black3);
	color: var(--primary)
}
.title-chapter.title-chapter-rainbow .title-chapter-subtitle {
	animation: rainbow 10s infinite linear;
}
.title-chapter.title-chapter-rainbow[data-active="1"] .title-chapter-subtitle {
	background-color: var(--black3);
	color: var(--primary);
	animation: rainbow-text 10s infinite linear;
}
.title a:hover {
	background-color: var(--truewhite) !important;
	color: var(--black3) !important;
	fill: var(--black3) !important;
	animation: unset !important;
}
.title a:hover .title-chapter-subtitle {
	background-color: var(--black3) !important;
	color: var(--truewhite) !important;
	animation: unset !important;
}
.title a:active {
	opacity: .25;
}

/* Container */
.container {
	width: 100vw;
	height: 100dvh;
	position: relative;
	display: grid;
	grid-template-rows: 24px minmax(0, 1fr) 29px;
	justify-content: stretch;
	align-items: stretch;
}

/* Tooltips */
.tooltip-container {
	position: absolute;
	top: 0;
	left: 0;
	width: 100vw;
	height: 100dvh;
	z-index: 99999;
	pointer-events: none;
	overflow: hidden;
	opacity: 0;
}
.tooltip-overflowfix {
	position: absolute;
	top: 0;
	left: 0;
	width: 200vw;
	height: 100dvh;
}
.tooltip {
	position: absolute;
	font-size: 12px;
	display: flex;
	align-items: center;
	font-variation-settings: 'wght' 650, 'SRFF' 0;
	font-weight: 650;
}
.tooltip-text {
	border-radius: 2px;
	flex-shrink: 0;
	display: flex;
	align-items: center;
	padding: calc(8px + .2em) 16px 6px 16px;
	text-align: center;
	line-height: 1.4em;
	color: var(--black3);
	background-color: var(--primary);
	max-width: 240px;
	border: 1px solid var(--black2);
}
.tooltip[data-direction="left"] {
	transform: translateX(10px) translateY(-50%);
}
.tooltip[data-direction="right"] {
	transform: translateX(-10px) translateY(-50%);
}
.tooltip[data-direction="top"] {
	transform: translateY(16px) translateX(-50%);
}
.tooltip[data-direction="bottom"] {
	transform: translateY(-10px) translateX(-50%);
}
.tooltip[data-hide="1"] {
	display: none;
}

/* Controls */
.controls {
	display: flex;
	overflow-x: scroll;
	z-index: 99;
	border-top: 1px solid var(--black2);
	gap: 1px;
	background-color: var(--black2);
}
.controls-btn {
	background-color: var(--black3);
	padding: 4px 16px;
	display: flex;
	align-items: center;
	justify-content: center;
	fill: var(--primary);
	cursor: pointer;
}
.controls-btn svg {
	height: 100%;
	width: 20px;
}
.controls-btn[data-active="1"] {
	background-color: var(--primary);
	fill: var(--black3);
}
.controls-btn:hover {
	background-color: var(--truewhite);
	fill: var(--black3);
	animation: unset !important;
}
.controls-btn:active {
	opacity: .25;
}
.controls-spacer {
	flex-grow: 1;
	min-width: 52px;
	background-color: var(--black3);
}

/* Content */
.content {
	display: flex;
	min-height: 0;
	min-width: 0;
	padding: 8px;
}
.panel {
	overflow: hidden;
	width: calc(calc(100% - 16px) / 3);
	flex-grow: 0;
	flex-shrink: 0;
	position: relative;
	display: flex;
	flex-direction: column;
	border-radius: 2px;
	background-color: var(--black3);
	border: 1px solid var(--black2);
}
.panel[data-hide='1'] {
	display: none;
}
.panel-label {
	flex: 0 0 24px;
	width: 100%;
	z-index: 9;
	height: 24px;
	display: flex;
	align-items: center;
	background-color: var(--black4);
	color: var(--white);
	fill: var(--primary);
	font-size: 12px;
	padding: 1px 8px;
	gap: 6px;
	font-variation-settings: 'wght' 550, 'SRFF' 0;
	font-weight: 550;
	cursor: help;
	border-top: 1px solid var(--black2);
}
.panel-label svg {
	height: 100%;
	aspect-ratio: 1/1;
	padding: 2px;
	flex-shrink: 0;
}
.panel-label div {
	padding-top: .2em;
}

/* No panels open message */
.panel-empty {
	height: 100%;
	width: 100%;
}
.panel-empty[data-hide="1"] {
	display: none;
}
.panel-empty-msg {
	position: absolute;
	top: 50%;
	left: 50%;
	display: flex;
	align-items: center;
	flex-direction: column;
	padding: 8px 16px 6px 16px;
	font-size: 12px;
	font-variation-settings: 'wght' 650, 'SRFF' 0;
	font-weight: 650;
	filter: drop-shadow(0 0 4px rgba(0,0,0,.2));
	text-align: center;
	line-height: 1.4em;
	color: var(--black3);
	transform: translate(-50%, -50%);
}
.panel-empty-text {
	flex-shrink: 0;
	display: flex;
	align-items: center;
	padding: 8px 16px 6px 16px;
	text-align: center;
	line-height: 1.4em;
	color: var(--black3);
	background-color: var(--white);
	max-width: 240px;
	margin-bottom: -1px;
	border-radius: 2px;
}
.panel-empty-msg svg {
	flex: 0 0 auto;
	transform: rotate(-90deg);
	height: 16px;
	width: 16px;
	fill: var(--white);
}

/* Panel resizers */
.resizer {
	flex: 0 0 4px;
	cursor: ew-resize;
	margin: 0 -1px;
	z-index: 99;
	width: 4px;
	margin: 4px 2px;
	opacity: 1;
	padding: 0 1px;
	-webkit-user-select: none; /* Safari */
	-ms-user-select: none; /* IE 10 and IE 11 */
	user-select: none; /* Standard syntax */
}
.resizer div {
	width: 100%;
	height: 100%;
	background-color: var(--black3);
	border-radius: 2px;
}
.resizer:hover div {
	background-color: var(--truewhite);
}
.resizer:active div {
	opacity: .25;
	cursor: ew-resize;
}
.resizer[data-hide="1"] {
	display: none;
}

/* Loading screen */
.loading {
	width: 100%;
	height: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	padding: 32px;
	fill: var(--primary);
}
.container[data-loading="0"] .loading {
	display: none;
}
.container[data-loading="1"] .panel {
	display: none;
}
.container[data-loading="1"] {
	cursor: progress;
}
.container[data-loading="1"] .content {
	background-color: var(--black3);
}
.container[data-loading="1"] .controls {
	cursor: not-allowed;
}
.container[data-loading="1"] .controls-btn {
	opacity: .5;
	pointer-events: none;
}
.container[data-loading="1"] .controls-btn-override {
	opacity: unset;
	pointer-events: unset;
}
.container[data-loading="1"] .controls-btn-override:active {
	opacity: .25;
}
.loading-msg {
	display: flex;
	align-items: center;
	flex-direction: column;
	padding: 8px 16px 6px 16px;
	text-align: center;
	line-height: 1.4em;
	color: var(--black3);
	font-size: 12px;
	font-variation-settings: 'wght' 650, 'SRFF' 0;
	font-weight: 650;
	filter: drop-shadow(0 0 4px rgba(0,0,0,.2));
	animation: loading-msg 1s ease-in-out infinite alternate;
}
.loading-msg svg {
	flex: 0 0 auto;
	height: 16px;
	width: 16px;
	fill: var(--white);
	transform: rotate(-90deg);
}
.loading-msg-text {
	border-radius: 2px;
	flex-shrink: 0;
	display: flex;
	align-items: center;
	padding: 8px 16px 6px 16px;
	text-align: center;
	line-height: 1.4em;
	color: var(--black3);
	background-color: var(--white);
	max-width: 240px;
	border-radius: 2px;
}
@keyframes loading-msg {
	from {
		transform: translateY(-4px);
	}
	to {
		transform: translateY(-12px);
	}
}
.loading-icon {
	width: 40px;
	height: 40px;
	animation: loading 1.5s infinite linear, loading-pulse 6s infinite linear;
}
@keyframes loading {
	from {
		transform: rotate(0deg);
	}
	to {
		transform: rotate(-360deg);
	}
}
@keyframes loading-pulse {
	0% {
		fill: var(--pink);
	}
	17% {
		fill: var(--green);
	}
	34% {
		fill: var(--blue);
	}
	51% {
		fill: var(--yellow);
	}
	68% {
		fill: var(--purple);
	}
	84% {
		fill: var(--red);
	}
	100% {
		fill: var(--pink);
	}
}

/* Info panel */
.info-container {
	overflow-y: scroll;
	flex-grow: 1;
	text-wrap: pretty;
	padding-bottom: 25vh;
	background-color: var(--black3);
}
.info-body {
	min-width: 320px;
	margin: 0 auto;
	width: 100%;
}
.info-content {
	font-size: 16px;
	font-variation-settings: "wght" 400, "SRFF" 0;
	font-weight: 400;
	line-height: 1.4em;
	padding: 32px 24px;
	margin: 0 auto;
	max-width: 540px;
}
.info-content h1 {
	font-size: 40px;
	padding-top: 8px;
	line-height: 1.05em;
	letter-spacing: -0.03em;
	font-family: 'Limkin', serif;
	font-variation-settings: "wght" 550, "SRFF" 0;
	font-weight: 550;
	margin-bottom: 32px;
	display: flex;
	flex-direction: column;
	align-items: start;
	gap: 12px;
	color: var(--primary)
}
.info-content h1 span {
	min-width: 24px;
	min-height: 24px;
	flex-shrink: 0;
	color: var(--black3);
	background-color: var(--primary);
	display: flex;
	text-transform: uppercase;
	align-items: center;
	justify-content: center;
	padding: .2em .6em 0 .65em;
	letter-spacing: 0.05em;
	line-height: 1em;
	font-size: 12px;
	font-variation-settings: "wght" 700, "SRFF" 0;
	font-weight: 700;
	border-radius: 2px;
}
.info-content h2 {
	font-size: 24px;
	line-height: 1.05em;
	letter-spacing: -0.02em;
	font-variation-settings: "wght" 550, "SRFF" 0;
	font-weight: 550;
	color: var(--primary);
	margin: 48px 0 24px 0;
	justify-self: start;
}
.info-content h3 {
	font-size: 16px;
	line-height: 1.4em;
	font-variation-settings: "wght" 600, "SRFF" 0;
	font-weight: 600;
	justify-self: start;
	margin: 24px 0 16px 0;
}
.info-code {
	padding: .31em .25em .08em .26em;
	font-family: "Monaspace", monospace;
	font-size: .9em;
	background-color: var(--primary);
	border-radius: 2px;
	color: var(--black3);
	font-variation-settings: "wght" 700, "wdth" 100, "slnt" 0;
	font-weight: 700;
	-webkit-box-decoration-break: clone;
	box-decoration-break: clone;
}
.info-content p {
	margin-bottom: 16px;
	letter-spacing: -0.01em;
}
.info-content-indent {
	padding-left: 24px;
	border-left: 1px solid var(--black2);
}
.info-content strong {
	font-variation-settings: "wght" 600, "SRFF" 0;
	font-weight: 600;
	padding: .2em .2em .05em .21em;
	background-color: var(--primary);
	border-radius: 2px;
	color: var(--black3);
	-webkit-box-decoration-break: clone;
	box-decoration-break: clone;
}
.info-content a {
	color: var(--primary);
	text-decoration: 1px underline;
	text-underline-offset: .2em;
}
.info-content a:hover {
	color: var(--truewhite);
}
.info-content a:active {
	opacity: .25;
}
.info-content ul, .info-content ol {
	padding-left: 24px;
	margin-bottom: 16px;
	display: flex;
	flex-direction: column;
	gap: 4px;
}
.info-content li {
	padding-left: 8px;
}
.info-content li::marker {
	color: var(--primary);
	font-variation-settings: "wght" 500, "SRFF" 0;
	font-weight: 500;
}
.info-content figure {
	margin: 48px 0;
}
.info-content figure img,
.info-content figure video,
.info-content figure audio,
.info-content figure iframe {
	display: block;
	width: 100%;
	padding: 4px;
	background-color: var(--black4);
	border-radius: 2px;
	border: 1px solid var(--black2);
}
.info-content figure figcaption {
	text-align: center;
	padding-top: 8px;
	line-height: 1.4em;
	color: var(--white);
	font-size: 12px;
	font-variation-settings: 'wght' 550, 'SRFF' 0;
	font-weight: 550;
}
.info-content figure figcaption a {
	color: var(--primary);
	text-decoration: 1px underline;
	text-underline-offset: .2em;
}
.info-content figure figcaption a:hover {
	color: var(--truewhite);
}
.info-content figure figcaption a:active {
	opacity: .25;
}
.info-next {
	margin: 0 auto;
	max-width: min(calc(540px - 48px), calc(100% - 48px));
	text-align: center;
	color: var(--primary);
	border: 1px solid var(--black2);
	padding: calc(16px + .2em) 32px 16px 32px;
	line-height: 1em;
	text-decoration: none;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	gap: 4px;
	letter-spacing: -0.01em;
	font-variation-settings: "wght" 600, "SRFF" 0;
	font-weight: 600;
	line-height: 1.2em;
	border-radius: 2px;
	text-wrap: balance;
}
.info-next span {
	color: var(--white);
}
.info-next:hover {
	background-color: var(--truewhite);
	color: var(--black3);
}
.info-next:hover span {
	color: var(--black3);
}
.info-next:active {
	opacity: .25;
}

/* Info panel navigation */
.info-nav {
	position: sticky;
	top: 0;
	z-index: 1;
	margin-bottom: 1px;
	background-color: var(--black2);
	border-bottom: 1px solid var(--black2);
}
.info-nav-bar {
	position: relative;
	display: flex;
	height: 40px;
	gap: 1px;
}
.info-nav-current {
	flex-grow: 1;
	height: 100%;
	display: flex;
	align-items: center;
	text-align: center;
	background-color: var(--black3);
	padding: 0 16px;
	color: var(--primary);
	fill: var(--primary);
	font-size: 14px;
	letter-spacing: 0.02em;
	line-height: 1.2em;
	gap: 12px;
	overflow: hidden;
	font-variation-settings: "wght" 600, "SRFF" 0;
	font-weight: 600;
	cursor: pointer;
}
.info-nav-current-number {
	width: 24px;
	height: 24px;
	flex-shrink: 0;
	color: var(--black3);
	background-color: var(--primary);
	display: flex;
	text-transform: uppercase;
	align-items: center;
	justify-content: center;
	padding: .2em .6em 0 .65em;
	font-size: 12px;
	font-variation-settings: "wght" 700, "SRFF" 0;
	font-weight: 700;
	border-radius: 2px;
}
.info-nav[data-active="1"] .info-nav-current {
	background-color: var(--primary);
	color: var(--black3);
}
.info-nav[data-active="1"] .info-nav-current-number {
	background-color: var(--black3);
	color: var(--primary);
}
.info-nav-current:hover {
	color: var(--black3);
	fill: var(--black3);
	background-color: var(--truewhite) !important;
}
.info-nav-current:hover .info-nav-current-number {
	background-color: var(--black3);
	color: var(--truewhite);
}
.info-nav-current:active {
	opacity: .25;
}
.info-nav-current-name {
	padding-top: .2em;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
}
.info-nav-prevnext {
	width: 40px;
	height: 40px;
	background-color: var(--black3);
	fill: var(--primary);
	display: flex;
	align-items: center;
	justify-content: center;
	cursor: pointer;
	border: unset;
	flex-shrink: 0;
}
.info-nav-prevnext:hover {
	background-color: var(--truewhite);
	fill: var(--black3);
}
.info-nav-prevnext:active {
	opacity: .25;
}
.info-nav-prevnext[data-active="0"] {
	background-color: var(--black4);
	fill: var(--black2);
	pointer-events: none;
}
.info-nav-prevnext svg {
	width: 24px;
	height: 24px;
	flex-shrink: 0;
}
.info-nav-demos {
	display: flex;
	flex-direction: column;
	position: absolute;
	top: 40px;
	left: 0;
	width: 100%;
	overflow-y: scroll;
	bottom: 23px;
	background-color: var(--black3);
}
.info-nav-demos[data-active="0"] {
	display: none;
}
.info-nav-demo {
	display: grid;
	grid-template-columns: 1fr 40px;
	gap: 1px;
	background-color: var(--black3);
	align-items: center;
	border-bottom: 1px solid var(--black2);
}
.info-nav-demo-link {
	background-color: var(--black3);
	color: var(--primary);
	fill: var(--primary);
	text-decoration: none;
	padding: 16px;
	display: flex;
	align-items: center;
	min-height: 40px;
	gap: 12px;
	overflow: hidden;
	flex-grow: 1;
}
.info-nav-demo-link:hover {
	background-color: var(--truewhite);
	color: var(--black3);
}
.info-nav-demo-link:active {
	opacity: .25;
}
.info-nav-demo-link-number {
	width: 24px;
	flex-shrink: 0;
	height: 24px;
	background-color: var(--primary);
	border-radius: 2px;
	font-size: 12px;
	color: var(--black3);
	font-variation-settings: "wght" 700, "SRFF" 0;
	font-weight: 700;
	display: flex;
	align-items: center;
	justify-content: center;
	padding-top: .2em;
}
.info-nav-demo-link:hover .info-nav-demo-link-number {
	color: var(--truewhite);
	background-color: var(--black3);
}
.info-nav-demo-link-name {
	padding-top: .2em;
	font-size: 14px;
	letter-spacing: 0.02em;
	line-height: 1.2em;
	overflow: hidden;
	font-variation-settings: "wght" 600, "SRFF" 0;
	font-weight: 600;
}
.info-nav-demo-newtab {
	background-color: var(--black3);
	fill: var(--primary);
	display: flex;
	align-items: center;
	justify-content: center;
	flex-shrink: 0;
	width: 40px;
	height: 100%;
	align-self: stretch;
}
.info-nav-demo-newtab:hover {
	background-color: var(--truewhite);
	fill: var(--black3);
}
.info-nav-demo-newtab:active {
	opacity: .25;
}
.info-nav-demo-newtab svg {
	width: 24px;
	flex-shrink: 0;
	height: 24px;
}

/* Editor panel */
.editor-container {
	width: 100%;
	height: 100%;
	overflow: hidden;
	display: flex;
	flex-direction: column;
}
.editor-content {
	width: 100%;
	flex-grow: 1;
	flex-shrink: 1;
	background-color: var(--black3);
	overflow: scroll;
	--font-size: 14px;
}
.editor-controls {
	display: flex;
	background-color: var(--black3);
	border-top: 1px solid var(--black2);
	gap: 1px;
	background-color: var(--black2);
	flex-shrink: 0;
	overflow-x: scroll;
	border-top: 1px solid var(--black2);
}
.editor-controls button {
	border: unset;
	flex-grow: 1;
	fill: var(--primary);
	background-color: var(--black3);
	cursor: pointer;
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 4px;
}
.editor-controls button[data-active="1"] {
	fill: var(--black3);
	background-color: var(--primary);
}
.editor-controls button[data-disabled="1"] {
	background-color: var(--black4);
	fill: var(--black2);
	pointer-events: none;
}
.editor-controls button svg {
	height: 20px;
	width: 20px;
}
.editor-controls button:hover {
	background-color: var(--truewhite);
	fill: var(--black3);
}
.editor-controls button:active {
	opacity: .25;
}
.editor-console {
	border-top: 1px solid var(--black2);
	flex: 0 0 160px;
	height: 160px;
	background-color: var(--black3);
	color: var(--white);
	overflow-y: scroll;
	display: flex;
	flex-direction: column;
}
#editor[data-console="0"] .editor-console {
	display: none;
}
.editor-console-log {
	flex-grow: 1;
	overflow-y: scroll;
	font-family: "Monaspace", monospace;
	font-variation-settings: "wght" 300, "wdth" 100, "slnt" 0;
	font-weight: 300;
	font-size: 14px;
	display: flex;
	flex-direction: column;
}
.editor-console-log-in {
	flex-shrink: 0;
	padding: calc(8px + .2em) 8px 8px 8px;
	overflow: hidden;
	opacity: .5;
	background-color: var(--black4);
}
.editor-console-log-out {
	flex-shrink: 0;
	padding: calc(8px + .2em) 8px 8px 8px;
	overflow: hidden;
}
.editor-console-input {
	flex-shrink: 0;
	display: flex;
	font-family: "Monaspace", monospace;
	font-variation-settings: "wght" 300, "wdth" 100, "slnt" 0;
	font-weight: 300;
	background-color: var(--black2);
	padding: 4px 8px 2px 8px;
	gap: 6px;
	align-items: center;
	min-width: 320px;
}
.editor-console-input svg {
	height: 20px;
	width: 20px;
	fill: var(--primary);
}
.editor-console-input input {
	font-family: "Monaspace", monospace;
	font-variation-settings: "wght" 300, "wdth" 100, "slnt" 0;
	font-weight: 300;
	flex-grow: 1;
	background-color: unset;
	color: var(--white);
	border: unset;
	font-size: 14px;
}
.editor-console-input input:focus {
	outline: unset;
}

/* CodeMirror */
.CodeMirror {
	cursor: text;
	min-width: 320px;
	width: 100%;
	height: 100%;
	overflow: scroll;
}
.CodeMirror * {
	font-family: "Monaspace", monospace;
	font-variation-settings: "wght" 300, "wdth" 100, "slnt" 0;
	font-weight: 300;
	font-size: var(--font-size);
}
.CodeMirror pre > * { text-indent: 0px; }
.cm-s-gdwithgd.CodeMirror {
	color: var(--white);
	height: 100%;
	background-color: var(--black3);
}
.cm-s-gdwithgd div.CodeMirror-selected { background: var(--black2); }
.cm-s-gdwithgd .CodeMirror-line::selection, .cm-s-gdwithgd .CodeMirror-line > span::selection, .cm-s-gdwithgd .CodeMirror-line > span > span::selection { background: var(--black3); }
.cm-s-gdwithgd .CodeMirror-line::-moz-selection, .cm-s-gdwithgd .CodeMirror-line > span::-moz-selection, .cm-s-gdwithgd .CodeMirror-line > span > span::-moz-selection { background: var(--black3); }
.cm-s-gdwithgd .CodeMirror-gutters { background: var(--black4); border-right: none; }
.cm-s-gdwithgd .CodeMirror-guttermarker { color: var(--red); }
.cm-s-gdwithgd .CodeMirror-guttermarker-subtle { color: var(--black3); }
.cm-s-gdwithgd .CodeMirror-linenumber { color: var(--black); background-color: var(--black4);}

.cm-s-gdwithgd .CodeMirror-cursor { border-left: 2px solid var(--white); }

.cm-s-gdwithgd span.cm-comment { color: rgba(255,255,255,.4); }
.cm-s-gdwithgd span.cm-atom { color: var(--blue); }
.cm-s-gdwithgd span.cm-number { color: var(--blue); }

.cm-s-gdwithgd span.cm-property, .cm-s-gdwithgd span.cm-attribute { color: var(--green); }
.cm-s-gdwithgd span.cm-keyword { color: var(--purple); }
.cm-s-gdwithgd span.cm-string { color: var(--yellow); }

.cm-s-gdwithgd span.cm-variable { color: var(--green); }
.cm-s-gdwithgd span.cm-variable-2 { color: var(--purple); }
.cm-s-gdwithgd span.cm-def { color: var(--pink); }
.cm-s-gdwithgd span.cm-bracket { color: #d6d5d4; }
.cm-s-gdwithgd span.cm-tag { color: var(--red); }
.cm-s-gdwithgd span.cm-link { color: var(--blue); }
.cm-s-gdwithgd span.cm-error { background: var(--white); color: var(--black3); }

.cm-s-gdwithgd .CodeMirror-activeline-background { background: var(--black3); }
.cm-s-gdwithgd .CodeMirror-matchingbracket { color: var(--white) !important; background-color: rgba(255,255,255,.3);}
.cm-s-gdwithgd .CodeMirror-nonmatchingbracket {color: red !important;}

.CodeMirror-hints {
	border: 2px solid var(--white) !important;
	background-color: var(--white) !important;
	border-radius: unset !important;
	padding: unset !important;
}
.CodeMirror-hint {
	color: var(--black3) !important;
	font-family: "Monaspace", monospace !important;
	font-variation-settings: "wght" 300, "wdth" 100, "slnt" 0;
	font-weight: 300;
	font-size: 12px !important;
	border-radius: unset !important;
	padding: 0 5px !important;
}
.CodeMirror-hint:hover {
	opacity: .5;
}
.CodeMirror-hint:active {
	opacity: .25;
}
li.CodeMirror-hint-active {
	color: var(--white) !important;
	background-color: var(--black3) !important;
}

/* Preview panel */
.preview-container {
	width: 100%;
	height: 100%;
	display: flex;
	flex-direction: column;
	position: relative;
	overflow: scroll;
}
.preview-msg-container {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 9;
	background-color: rgba(0,0,0,.6);
	backdrop-filter: blur(2px);
	padding: 32px;
	min-width: 320px;
}
.preview-msg-container[data-active="0"] {
	display: none;
}
.preview-msg {
	display: flex;
	align-items: center;
	flex-direction: column;
	padding: 8px 16px 6px 16px;
	text-align: center;
	line-height: 1.4em;
	color: var(--black3);
	font-size: 12px;
	font-variation-settings: 'wght' 650, 'SRFF' 0;
	font-weight: 650;
	filter: drop-shadow(0 0 4px rgba(0,0,0,.2));
	animation: preview-msg 1s ease-in-out infinite alternate;
}
.preview-msg svg {
	flex: 0 0 auto;
	height: 16px;
	width: 16px;
	fill: var(--white);
	transform: rotate(-90deg);
}
.preview-msg-text {
	flex-shrink: 0;
	display: flex;
	align-items: center;
	padding: 8px 16px 6px 16px;
	text-align: center;
	line-height: 1.4em;
	color: var(--black3);
	background-color: var(--white);
	border-radius: 2px;
}
@keyframes preview-msg {
	from {
		transform: translateY(-4px);
	}
	to {
		transform: translateY(-12px);
	}
}
.preview-delay-timer {
	border: 2px solid var(--primary);
	width: 100%;
	height: 24px;
	max-width: 240px;
	padding: 2px;
	border-radius: 2px;
}
.preview-delay-timer-inside {
	width: 100%;
	height: 100%;
	background-color: var(--primary);
	transform-origin: left;
	animation-duration: 5s;
	animation-fill-mode: forwards;
	animation-timing-function: linear;
}
@keyframes preview-delay {
	from {
		transform: scaleX(1);
	}
	to {
		transform: scaleX(0);
	}
}
.preview-content {
	flex-grow: 1;
	width: 100%;
	background-color: white;
	border: unset;
	min-width: 320px;
}
.preview-dimensions {
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: var(--black3);
	color: var(--white);
	fill: var(--white);
	padding: 2px;
	border-top: 1px solid var(--black2);
	position: sticky;
	left: 0;
	cursor: help;
}
.preview-dimensions svg {
	width: 16px;
	height: 16px;
}
.preview-dimensions span {
	display: flex;
	align-items: center;
	justify-content: center;
	font-size: 12px;
	letter-spacing: 0.02em;
	text-transform: uppercase;
	line-height: 1.2em;
	padding-top: .2em;
	gap: 8px;
	font-variation-settings: "wght" 700, "SRFF" 0;
	font-weight: 700;
}