@font-face {
	font-family: "Limkin";
	src: url("https://toomuchtype.com/fonts/limkin/variable/TMT-LimkinVF.ttf") format(truetype),
		 url("https://toomuchtype.com/fonts/limkin/variable/TMT-LimkinVF.woff") format(woff),
		 url("https://toomuchtype.com/fonts/limkin/variable/TMT-LimkinVF.woff2") format(woff2);
	font-weight: 100 900;
}
@font-face {
	font-family: 'Geist Mono';
	src: url('../fonts/GeistMono-VariableFont_wght.ttf') format('truetype');
	font-weight: 100 900;
}
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	overscroll-behavior: none;
	touch-action: manipulation;
}
body {
	font-family: 'Limkin', sans-serif;
	font-variation-settings: 'wght' 400, 'SRFF' 0;
	font-weight: 400;
	color: var(--off-white);
	background: #191919;
	overscroll-behavior: none;
}
button {
	font-family: inherit;
}
:root {
	--pink: #F3A8DD;
	--green: #98DB6B;
	--blue: #5ADDE8;
	--yellow: #fcc03a;
	--purple: #A690FC;
	--red: #FF734D;

	--pink-rgb: 243, 168, 221;
	--green-rgb: 152, 219, 107;
	--blue-rgb: 90, 221, 232;
	--yellow-rgb: 252, 192, 58;
	--purple-rgb: 166, 144, 252;
	--red-rgb: 255, 115, 77;

	--off-white: #fafafa;
	--light-gray: #e5e5e5;
	--dark-gray: #444444;
	--off-black: #222222;

	--primary: var(--white);
}

/* Animations */
@keyframes rainbow {
	0% {
		background-color: var(--pink);
	}
	17% {
		background-color: var(--green);
	}
	34% {
		background-color: var(--blue);
	}
	51% {
		background-color: var(--yellow);
	}
	68% {
		background-color: var(--purple);
	}
	84% {
		background-color: var(--red);
	}
	100% {
		background-color: var(--pink);
	}
}
@keyframes rainbow-text {
	0% {
		color: var(--pink);
		fill: var(--pink);
	}
	17% {
		color: var(--green);
		fill: var(--green);
	}
	34% {
		color: var(--blue);
		fill: var(--blue);
	}
	51% {
		color: var(--yellow);
		fill: var(--yellow);
	}
	68% {
		color: var(--purple);
		fill: var(--purple);
	}
	84% {
		color: var(--red);
		fill: var(--red);
	}
	100% {
		color: var(--pink);
		fill: var(--pink);
	}
}
@keyframes rainbow-faded {
	0% {
		background-color: rgba(var(--pink-rgb), .1);
	}
	17% {
		background-color: rgba(var(--green-rgb), .1);
	}
	34% {
		background-color: rgba(var(--blue-rgb), .1);
	}
	51% {
		background-color: rgba(var(--yellow-rgb), .1);
	}
	68% {
		background-color: rgba(var(--purple-rgb), .1);
	}
	84% {
		background-color: rgba(var(--red-rgb), .1);
	}
	100% {
		background-color: rgba(var(--pink-rgb), .1);
	}
}

/* Hide scrollbars */
*::-webkit-scrollbar {
	display: none;
}
* {
	-ms-overflow-style: none;  /* IE and Edge */
	scrollbar-width: none;  /* Firefox */
}

/* Container */
.container {
	width: 100vw;
	height: 100dvh;
	position: relative;
	display: grid;
	grid-template-rows: 80px minmax(0, 1fr) 64px;
	justify-content: stretch;
	align-items: stretch;
	/* animation: rainbow-faded 10s infinite ease-in-out; */
}
.container[data-empty="1"] {
	grid-template-rows: minmax(0, 1fr) 64px;
	padding-top: 16px;
}

/* Navbar */
.navbar {
	padding: 16px 0 16px 16px;
	display: flex;
	align-items: center;
	justify-content: space-between;
	overflow: scroll;
	gap: 24px;
}
.container[data-empty="1"] .navbar {
	display: none;
}

/* Navbar-header */
.navbar-header {
	display: flex;
	align-items: center;
	gap: 16px;
	flex-shrink: 0;
}
.navbar-header-logo {
	width: 42px;
	height: 42px;
	fill: var(--yellow);
	animation: rainbow-fill 10s infinite ease-in-out;
}
@keyframes rainbow-fill {
	0% {
		fill: var(--pink);
	}
	17% {
		fill: var(--green);
	}
	34% {
		fill: var(--blue);
	}
	51% {
		fill: var(--yellow);
	}
	68% {
		fill: var(--purple);
	}
	84% {
		fill: var(--red);
	}
	100% {
		fill: var(--pink);
	}
}
.navbar-header-logo:hover {
	fill: var(--off-white) !important;
	animation-play-state: paused;
}
.navbar-header-logo:active {
	opacity: .5;
}
.navbar-header-content {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: start;
	gap: 3px;
	transform: translateY(-2px);
}
.navbar-header-info {
	display: flex;
	align-items: baseline;
	gap: 12px;
}
.navbar-header-info-item {
	background-color: unset;
	border: unset;
	border-radius: unset;
	padding: unset;
	cursor: pointer;
	flex-shrink: 0;
	color: var(--primary);
	display: flex;
	text-transform: uppercase;
	align-items: center;
	justify-content: center;
	gap: 6px;
	letter-spacing: 0.1em;
	line-height: 1em;
	font-size: 10px;
	font-variation-settings: "wght" 700, "SRFF" 0;
	font-weight: 700;
	border-radius: 4px;
	text-decoration: none;
}
.navbar-header-info-item:hover {
	color: var(--off-white);
}
.navbar-header-info-item:active {
	opacity: .5;
}
.navbar-header-info-item-button {
	background-color: unset;
	border: unset;
	border-radius: unset;
	padding: unset;
	cursor: pointer;
	flex-shrink: 0;
	color: var(--primary);
	display: flex;
	text-transform: uppercase;
	align-items: center;
	justify-content: center;
	gap: 6px;
	letter-spacing: 0.1em;
	line-height: 1em;
	font-size: 10px;
	font-variation-settings: "wght" 700, "SRFF" 0;
	font-weight: 700;
	border-radius: 4px;
	text-decoration: none;
	border: 1px solid rgba(var(--primary-rgb), .5);
	background-color: rgba(var(--primary-rgb), .25);
	padding: calc(2px + .15em) 5px 2px 5px;
}
.navbar-header-info-item-button:hover {
	background-color: var(--off-white);
	color: var(--off-black);
}
.navbar-header-info-item-button:active {
	opacity: .5;
}
.navbar-header-info-divider {
	border-left: 1px solid rgba(var(--primary-rgb), .5);
	height: 10px;
	transform: translateY(1px);
}
.navbar-header-demo {
	padding-top: .1em;
	font-size: 24px;
	line-height: 1em;
	letter-spacing: -0.02em;
	font-variation-settings: "wght" 700, "SRFF" 0;
	font-weight: 700;
	color: var(--off-white);
	margin-bottom: -.2em;
	cursor: pointer;
}
.navbar-header-demo:hover {
	opacity: .8;
}
.navbar-header-demo:active {
	opacity: .5;
}

/* Navbar controls */
.navbar-controls {
	display: flex;
	flex-shrink: 0;
	gap: 8px;
	position: sticky;
	right: 0;
	z-index: 1;
	padding: 0 16px;
	background: linear-gradient(to right, transparent 0%, #191919 25%);
	height: 100%;
	align-items: center;
}
.navbar-controls-button {
	border: 1px solid rgba(var(--primary-rgb), .25);
	padding: 6px 12px;
	font-size: 18px;
	line-height: 1.2em;
	font-variation-settings: "wght" 600, "SRFF" 0;
	font-weight: 600;
	text-decoration: none;
	color: var(--off-white);
	fill: var(--primary);
	background-color: rgba(var(--primary-rgb), .25);
	border-radius: 4px;
	min-height: 40px;
	flex-shrink: 0;
	display: flex;
	align-items: center;
	justify-content: center;
	cursor: pointer;
	gap: 6px;
}
#navbar-demos {
	min-width: 160px;
	text-align: center;
}
.navbar-controls-button[data-hidden="1"] {
	opacity: .25;
	pointer-events: none;
}
.navbar-controls-button[data-active="1"] {
	background-color: var(--primary);
	color: var(--off-black);
	fill: var(--off-black);
}
.navbar-controls-button svg {
	width: 20px;
	height: 20px;
}
.navbar-controls-button > span {
	padding-top: .2em;
}
.navbar-controls-button:hover {
	background-color: var(--off-white);
	color: var(--off-black);
	fill: var(--off-black);
}
.navbar-controls-button:active {
	opacity: .5;
}

/* Navbar demos */
.navbar-demos {
	position: fixed;
	top: 80px;
	right: 0;
	bottom: 0;
	border: 1px solid var(--dark-gray);
	border-right: unset;
	border-bottom: unset;
	background-color: var(--off-black);
	border-radius: 4px 0 0 0;
	display: flex;
	flex-direction: column;
	width: 480px;
	z-index: 999999;
	padding: 16px;
	gap: 8px;
	max-width: calc(100vw - 8px);
	overflow: scroll;
	transition: transform .5s;
}
.navbar-demos[data-active="0"] {
	transform: translateX(100%);
}
.navbar-demo {
	display: flex;
	color: var(--off-white);
	background-color: rgba(var(--primary-rgb), .25);
	text-decoration: none;
	border: 1px solid rgba(var(--primary-rgb), .25);
	gap: 12px;
	align-items: center;
	padding: 16px 24px;
	border-radius: 2px;
}
.navbar-demo-number {
	flex-shrink: 0;
	width: 24px;
	height: 24px;
	color: var(--off-black);
	background-color: var(--primary);
	border-radius: 4px;
	display: flex;
	align-items: center;
	justify-content: center;
	font-size: 12px;
	padding-top: .2em;
	font-variation-settings: "wght" 700, "SRFF" 0;
	font-weight: 700;
}
.navbar-demo-name {
	padding-top: .2em;
	font-size: 18px;
	line-height: 1.2em;
	font-variation-settings: "wght" 600, "SRFF" 0;
	font-weight: 600;
	text-wrap: pretty;
}
.navbar-demo:nth-child(6n+1) {
	--primary: var(--pink);
	--primary-rgb: var(--pink-rgb);
}
.navbar-demo:nth-child(6n+2) {
	--primary: var(--green);
	--primary-rgb: var(--green-rgb);
}
.navbar-demo:nth-child(6n+3) {
	--primary: var(--blue);
	--primary-rgb: var(--blue-rgb);
}
.navbar-demo:nth-child(6n+4) {
	--primary: var(--yellow);
	--primary-rgb: var(--yellow-rgb);
}
.navbar-demo:nth-child(6n+5) {
	--primary: var(--purple);
	--primary-rgb: var(--purple-rgb);
}
.navbar-demo:nth-child(6n+6) {
	--primary: var(--red);
	--primary-rgb: var(--red-rgb);
}
.navbar-demo:hover {
	background-color: var(--off-white);
	color: var(--off-black);
}
.navbar-demo:hover .navbar-demo-number {
	background-color: var(--off-black);
	color: var(--off-white);
}
.navbar-demo:active {
	opacity: .5;
}

/* Footer */
.footer {
	display: flex;
	justify-content: space-between;
	gap: 8px;
	padding: 16px;
	overflow: scroll;
}
.footer-section {
	flex-grow: 1;
	display: flex;
	gap: 8px;
	flex-basis: 0;
}
.footer-section:nth-child(1) {
	justify-content: start;
}
.footer-section:nth-child(2) {
	justify-content: center;
}
.footer-section:nth-child(3) {
	justify-content: end;
}
.footer-button {
	background-color: rgba(var(--primary-rgb), .25);
	fill: var(--primary);
	color: var(--off-white);
	text-transform: uppercase;
	letter-spacing: .1em;
	font-size: 10px;
	line-height: 1em;
	font-variation-settings: "wght" 700, "SRFF" 0;
	font-weight: 700;
	display: flex;
	align-items: center;
	text-decoration: none;
	white-space: nowrap;
	padding: 0 12px;
	gap: 8px;
	border-radius: 4px;
	border: 1px solid rgba(var(--primary-rgb), .25);
	cursor: pointer;
}
.footer-button[data-disabled="1"] {
	display: none;
}
.footer-button[data-active="1"] {
	background-color: var(--primary);
	color: var(--off-black);
	fill: var(--off-black);
}
.footer-button svg {
	width: 16px;
	height: 16px;
}
.footer-button span {
	padding-top: .2em;
}
.footer-button:hover {
	background-color: var(--off-white);
	color: var(--off-black);
	fill: var(--off-black);
}
.footer-button:active {
	opacity: .5;
}
.container[data-empty="1"] #newtab {
	display: none;
}
@media only screen and (max-width: 1000px) {
	.footer-button span {
		display: none;
	}
}

/* Content */
.content {
	display: flex;
	min-height: 0;
	min-width: 0;
	padding: 0 16px;
	gap: 16px;
	justify-content: center;
}
.panel {
	overflow: hidden;
	width: calc(calc(100% - 80px) / 3);
	flex-grow: 0;
	flex-shrink: 0;
	position: relative;
	display: flex;
	flex-direction: column;
	background-color: var(--off-black);
	border-radius: 4px;
	border: 1px solid rgba(var(--primary-rgb), .5);
}
.panel[data-fullscreen="1"] {
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	width: 100% !important;
	border-radius: unset;
	z-index: 99999999;
}
.panel[data-hide='1'] {
	display: none;
}
.panel-label {
	flex: 0 0 32px;
	width: 100%;
	z-index: 9;
	height: 32px;
	display: flex;
	align-items: center;
	justify-content: space-between;
	background-color: rgba(var(--primary-rgb), .25);
	border-bottom: 1px solid rgba(var(--primary-rgb), .5);
	color: var(--off-white);
	fill: var(--primary);
	text-transform: uppercase;
	letter-spacing: .1em;
	font-size: 10px;
	padding: 0 12px;
	overflow-x: scroll;
	gap: 12px;
	font-variation-settings: 'wght' 700, 'SRFF' 0;
	font-weight: 700;
	cursor: pointer;
}
.panel-label:hover {
	background-color: var(--off-white);
	color: var(--off-black);
	fill: var(--off-black);
}
.panel-label:active {
	opacity: .5;
}
.panel-label-content {
	display: flex;
	align-items: center;
	gap: 8px;
}
.panel-label-content svg {
	height: 100%;
	height: 18px;
	width: 18px;
	/* padding: 2px; */
	flex-shrink: 0;
}
.panel-label-content div {
	padding-top: .2em;
}
.panel-label-dimensions {
	padding-top: .2em;
	display: flex;
	align-items: center;
	justify-content: center;
	font-size: 10px;
	letter-spacing: 0.1em;
	text-transform: uppercase;
	line-height: 1em;
	gap: 4px;
	font-variation-settings: "wght" 700, "SRFF" 0;
	font-weight: 700;
}

/* No panels open message */
.empty {
	height: 100%;
	width: 100%;
	display: flex;
	align-items: end;
	justify-content: center;
	text-align: center;
}
.empty[data-hide="1"] {
	display: none;
}
.empty-text {
	flex-shrink: 0;
	line-height: 1.2em;
	color: var(--off-white);
	border-radius: 4px;
	padding: 24px;
	font-size: 18px;
	font-variation-settings: 'wght' 650, 'SRFF' 0;
	font-weight: 650;
	animation: empty 1s infinite ease-in-out alternate;
}
@keyframes empty {
	from {
		transform: translateY(-8px);
	}
	to {
		transform: translateY(0px);
	}
}

/* Panel resizers */
.resizer {
	flex: 0 0 8px;
	cursor: ew-resize;
	z-index: 99;
	width: 8px;
	opacity: 1;
	-webkit-user-select: none; /* Safari */
	-ms-user-select: none; /* IE 10 and IE 11 */
	user-select: none; /* Standard syntax */
}
.resizer div {
	width: 100%;
	height: 100%;
	background-color: var(--off-black);
	border-radius: 4px;
	border: 1px solid var(--dark-gray);
}
.resizer:hover div {
	background-color: var(--off-white);
}
.resizer:active div {
	background-color: var(--off-white);
	opacity: .5;
	cursor: ew-resize;
}
.resizer[data-hide="1"] {
	display: none;
}

/* Loading screen */
.loading {
	width: 100%;
	height: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	padding: 12px;
	gap: 24px;
	fill: var(--primary);
}
.container[data-loading="0"] .loading {
	display: none;
}
.container[data-loading="1"] .navbar-header-info {
	opacity: .25;
	pointer-events: none;
}
.container[data-loading="1"] .navbar-controls {
	opacity: .25;
	pointer-events: none;
}
.container[data-loading="1"] .panel {
	display: none;
}
.container[data-loading="1"] .resizer {
	display: none;
}
.container[data-loading="1"] #footer-section-panels {
	opacity: .25;
	pointer-events: none;
}
.container[data-loading="1"] #footer-section-controls {
	opacity: .25;
	pointer-events: none;
}
.container[data-loading="1"] {
	cursor: progress;
}
.loading-text {
	flex-shrink: 0;
	display: flex;
	align-items: center;
	flex-direction: column;
	gap: 12px;
	max-width: 400px;
	text-wrap: balance;
	text-align: center;
	line-height: 1.2em;
	color: var(--off-white);
	border-radius: 4px;
	font-size: 18px;
	font-variation-settings: 'wght' 650, 'SRFF' 0;
	font-weight: 650;
	text-align: center;
	animation: loading-msg 1s ease-in-out infinite alternate;
}
@keyframes loading-msg {
	from {
		transform: translateY(-8px);
	}
	to {
		transform: translateY(0px);
	}
}
.loading-icon {
	width: 40px;
	height: 40px;
	animation: loading 2s infinite linear, loading-pulse 10s infinite ease-in-out;
}
@keyframes loading {
	from {
		transform: rotate(0deg);
	}
	to {
		transform: rotate(-360deg);
	}
}
@keyframes loading-pulse {
	0% {
		fill: var(--pink);
	}
	17% {
		fill: var(--green);
	}
	34% {
		fill: var(--blue);
	}
	51% {
		fill: var(--yellow);
	}
	68% {
		fill: var(--purple);
	}
	84% {
		fill: var(--red);
	}
	100% {
		fill: var(--pink);
	}
}

/* Info panel */
.info-container {
	overflow-y: scroll;
	flex-grow: 1;
	text-wrap: pretty;
	padding-bottom: 15vh;
	background-color: rgba(var(--primary-rgb), .05);
	color: #ddd;
}
.info-body {
	min-width: 320px;
	margin: 0 auto;
	width: 100%;
}
.info-content {
	font-size: 18px;
	font-variation-settings: "wght" 350, "SRFF" 0;
	font-weight: 350;
	line-height: 1.4em;
	padding: 48px 24px;
	margin: 0 auto;
	max-width: 540px;
}
.info-content hr {
	border: none;
	height: 1px;
	background-color: rgba(var(--primary-rgb), .5);
	margin: 48px 0;
}
.info-content h1 {
	font-size: 40px;
	line-height: 1.1em;
	letter-spacing: -0.04em;
	font-variation-settings: "wght" 700, "SRFF" 0;
	font-weight: 700;
	margin-bottom: 24px;
	margin-top: 32px;
	color: var(--off-white);
}
.info-content h1 span {
	display: block;
	color: var(--primary);
	font-size: 18px;
	margin-bottom: 8px;
	line-height: 1.2em;
	font-variation-settings: "wght" 700, "SRFF" 0;
	font-weight: 700;
	text-transform: uppercase;
	letter-spacing: .1em;
}
.info-content h2 {
	font-size: 24px;
	line-height: 1.2em;
	letter-spacing: -0.02em;
	font-variation-settings: "wght" 700, "SRFF" 0;
	font-weight: 700;
	margin-bottom: 24px;
	margin-top: 32px;
	justify-self: start;
	color: var(--off-white);
}
.info-content > *:nth-child(1) {
	margin-top: unset;
}
.info-content h3 {
	font-size: 12px;
	line-height: 1.2em;
	font-variation-settings: "wght" 700, "SRFF" 0;
	font-weight: 700;
	text-transform: uppercase;
	letter-spacing: .1em;
	justify-self: start;
	margin: 32px 0 18px 0;
	color: var(--off-white);
}
.info-content p {
	margin-bottom: 18px;
}
.info-content-indent {
	padding-left: 24px;
	border-left: 1px solid var(--dark-gray);
}
.info-code,
.info-content code {
	padding: .1em .3em .1em .3em;
	font-family: "Geist Mono", monospace;
	font-size: .85em;
	background-color: var(--dark-gray);
	border-radius: 4px;
	font-variation-settings: "wght" 400;
	font-weight: 400;
	color: var(--off-white);
	-webkit-box-decoration-break: clone;
	box-decoration-break: clone;
}
.info-content strong {
	font-variation-settings: "wght" 600, "SRFF" 0;
	font-weight: 600;
	color: var(--off-white);
	background-color: rgba(var(--primary-rgb), .25);
	padding: .2em .2em .05em .202em;
	border-radius: 4px;
	letter-spacing: .02em;
}
.info-content strong .info-code,
.info-content strong code {
	font-variation-settings: "wght" 600;
	font-weight: 600;
	background-color: rgba(var(--primary-rgb), .25);
}
.info-content strong:has(code) {
	background-color: unset;
	padding: unset;
}
.info-content code:has(strong) {
	background-color: unset;
	padding: unset;
}
.info-content a {
	color: var(--off-white);
	text-decoration-thickness: 1px;
	text-underline-offset: .15em;
}
.info-content a:hover {
	opacity: .8;
}
.info-content a:active {
	opacity: .5;
}
.info-content ul, .info-content ol {
	padding-left: 24px;
	margin-bottom: 16px;
	display: flex;
	flex-direction: column;
	gap: 4px;
}
.info-content li {
	padding-left: 8px;
}
.info-content li::marker {
	color: var(--primary);
	font-variation-settings: "wght" 500, "SRFF" 0;
	font-weight: 500;
}
.info-content figure {
	margin: 24px 0;
}
.info-content figure img,
.info-content figure video,
.info-content figure audio,
.info-content figure iframe {
	display: block;
	width: 100%;
	max-height: 540px;
	object-fit: contain;
	background-color: rgba(var(--primary-rgb), .25);
	border: 1px solid rgba(var(--primary-rgb), .5);
}
.info-content figure figcaption {
	text-align: center;
	padding-top: 8px;
	line-height: 1.4em;
	color: var(--off-white);
	font-size: 10px;
	font-variation-settings: 'wght' 550, 'SRFF' 0;
	font-weight: 550;
}
.info-content figure figcaption a {
	color: var(--off-white);
	text-decoration: 1px underline;
	text-underline-offset: .15em;
}
.info-content figure figcaption a:hover {
	opacity: .8;
}
.info-content figure figcaption a:active {
	opacity: .5;
}
.info-next {
	margin: 0 auto;
	max-width: min(calc(540px - 48px), calc(100% - 48px));
	text-align: center;
	color: var(--off-white);
	background-color: rgba(var(--primary-rgb), .25);
	text-decoration: none;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	gap: 4px;
	border-radius: 4px;
	text-wrap: balance;
	font-size: 18px;
	font-variation-settings: "wght" 600, "SRFF" 0;
	font-weight: 600;
	line-height: 1.4em;
	padding: 24px 24px calc(24px - .2em) 24px;
	border: 1px solid rgba(var(--primary-rgb), .25);
}
.info-next span {
	color: var(--primary);
}
.info-next:hover {
	background-color: var(--off-white);
	color: var(--off-black);
}
.info-next:hover span {
	color: var(--off-black);
}
.info-next:active {
	opacity: .5;
}

/* Editor panel */
.editor-container {
	width: 100%;
	height: 100%;
	overflow: hidden;
	display: flex;
	flex-direction: column;
}
.editor-content {
	width: 100%;
	flex-grow: 1;
	flex-shrink: 1;
	background-color: rgba(var(--primary-rgb), .05);
	overflow: scroll;
	--font-size: 16px;
}
.editor-controls {
	display: flex;
	gap: 1px;
	background-color: var(--off-black);
	border-top: 1px solid rgba(var(--primary-rgb), .5);
	flex-shrink: 0;
	overflow-x: scroll;
}
.editor-controls button {
	height: 32px;
	border: unset;
	flex-grow: 1;
	fill: var(--primary);
	outline: 1px solid rgba(var(--primary-rgb), .25);
	background-color: rgba(var(--primary-rgb), .25);
	color: var(--off-white);
	cursor: pointer;
	display: flex;
	align-items: center;
	justify-content: center;
	text-transform: uppercase;
	letter-spacing: .1em;
	font-size: 10px;
	padding: 8px 12px;
	gap: 12px;
	font-variation-settings: 'wght' 700, 'SRFF' 0;
	font-weight: 700;
	flex-basis: 0;
}
.editor-controls button[data-active="1"] {
	fill: var(--off-black);
	color: var(--off-black);
	background-color: var(--primary);
}
.editor-controls button svg {
	flex-shrink: 0;
	height: 20px;
	width: 20px;
}
.editor-controls button span {
	padding-top: .2em;
}
.editor-controls button:hover {
	background-color: var(--off-white);
	fill: var(--off-black);
	color: var(--off-black)
}
.editor-controls button:active {
	opacity: .5;
}
.editor-controls button[data-disabled="1"] {
	opacity: .25;
	pointer-events: none;
}
.editor-console {
	border-top: 1px solid rgba(var(--primary-rgb), .5);
	flex: 0 0 200px;
	height: 200px;
	background-color: var(--off-black);
	color: var(--off-white);
	/* overflow-y: scroll; */
	display: flex;
	flex-direction: column;
}
#editor[data-console="0"] .editor-console {
	display: none;
}
.editor-console-log {
	flex-grow: 1;
	overflow-y: scroll;
	font-family: "Geist Mono", monospace;
	font-variation-settings: "wght" 350;
	font-weight: 350;
	font-size: 14px;
	display: flex;
	flex-direction: column;
	background-color: rgba(var(--primary-rgb), .05);
}
.editor-console-log-in {
	flex-shrink: 0;
	padding: 8px 12px;
	overflow: hidden;
	opacity: .5;
	background-color: rgba(0,0,0,.5);
}
.editor-console-log-out {
	flex-shrink: 0;
	padding: 8px 12px;
	overflow: hidden;
	color: var(--primary);
}
.editor-console-input {
	flex-shrink: 0;
	display: flex;
	font-family: "Geist Mono", monospace;
	font-variation-settings: "wght" 350;
	font-weight: 350;
	background-color: rgba(var(--primary-rgb), .05);
	border-top: 1px solid rgba(var(--primary-rgb), .25);
	padding: 8px 12px;
	gap: 12px;
	align-items: center;
	min-width: 320px;
}
.editor-console-input svg {
	height: 20px;
	width: 20px;
	fill: var(--primary);
}
.editor-console-input input {
	font-family: "Geist Mono", monospace;
	font-variation-settings: "wght" 350;
	font-weight: 350;
	flex-grow: 1;
	background-color: unset;
	color: var(--white);
	border: unset;
	font-size: 14px;
}
.editor-console-input input:focus {
	outline: unset;
}

/* CodeMirror */
.CodeMirror {
	cursor: text;
	min-width: 320px;
	width: 100%;
	height: 100%;
	overflow: scroll;
	font-size: var(--font-size);
	font-family: "Geist Mono", monospace;
	font-variation-settings: "wght" 350;
	font-weight: 350;
	line-height: 1.4em;
	font-variant-ligatures: none !important;
}
.cm-s-gdwithgd  {
	font-family: "Geist Mono", monospace;
	font-variation-settings: "wght" 350;
	font-weight: 350;
	height: 100%;
	font-size: var(--font-size);
	line-height: 1.4em;
	font-variant-ligatures: none !important;
}
.cm-s-gdwithgd.CodeMirror {
	background: transparent;
	color: var(--light-gray);
	height: 100%;
	font-size: var(--font-size);
	line-height: 1.4em;
	font-family: "Geist Mono", monospace;
	font-variation-settings: "wght" 350;
	font-weight: 350;
	font-variant-ligatures: none !important;
}
.cm-s-gdwithgd.CodeMirror * {
	font-variant-ligatures: none !important;
}

.cm-s-gdwithgd span.cm-meta { color: #aaa; }
.cm-s-gdwithgd span.cm-number { color: var(--blue); }
.cm-s-gdwithgd span.cm-keyword { color: var(--red); }
.cm-s-gdwithgd span.cm-def { color: var(--pink); }
.cm-s-gdwithgd span.cm-variable { color: var(--purple); }
.cm-s-gdwithgd span.cm-variable-2 { color: var(--purple); }
.cm-s-gdwithgd span.cm-variable-3 { color: var(--purple); }
.cm-s-gdwithgd span.cm-type { color: #AABBCC; }
.cm-s-gdwithgd span.cm-property { color: var(--yellow); }
.cm-s-gdwithgd span.cm-operator { color: #aaa; }
.cm-s-gdwithgd span.cm-string { color: var(--yellow); }
.cm-s-gdwithgd span.cm-string-2 { color: var(--yellow); }
.cm-s-gdwithgd span.cm-comment { color: #777; }
.cm-s-gdwithgd span.cm-link { color: var(--red); }
.cm-s-gdwithgd span.cm-atom { color: var(--purple); }
.cm-s-gdwithgd span.cm-error { color: red; }
.cm-s-gdwithgd span.cm-tag { color: var(--green); }
.cm-s-gdwithgd span.cm-attribute { color: var(--blue); }
.cm-s-gdwithgd span.cm-qualifier { color: var(--pink); }
.cm-s-gdwithgd span.cm-bracket { color: #aaa; }
.cm-s-gdwithgd span.cm-builtin { color: var(--yellow); }
.cm-s-gdwithgd span.cm-special { color: var(--yellow); }
.cm-s-gdwithgd span.cm-matchhighlight { color: #FFFFFF; background-color: rgba(50, 89, 48, .7); }
.cm-s-gdwithgd span.cm-searching { color: #FFFFFF; background-color: rgba(61, 115, 59, .7); }

.cm-s-gdwithgd .CodeMirror-cursor { border-left: 1px solid var(--off-white); }
.cm-s-gdwithgd .CodeMirror-activeline-background { background: #323232; }
.cm-s-gdwithgd .CodeMirror-gutters {
	background: linear-gradient(rgba(var(--primary-rgb), .05), rgba(var(--primary-rgb), .05)), linear-gradient(var(--off-black), var(--off-black));
	border-right: .5px dotted #777; }
.cm-s-gdwithgd .CodeMirror-guttermarker { color: var(--off-white); }
.cm-s-gdwithgd .CodeMirror-gutter-elt { color: #777; }
.cm-s-gdwithgd .CodeMirror-matchingbracket { background-color: var(--light-gray); color: var(--off-black) !important; }
.cm-s-gdwithgd .CodeMirror-nonmatchingbracket { background-color: red !important; color: var(--off-black) !important; }

.cm-s-gdwithgd div.CodeMirror-selected { background: #494b46; }

.CodeMirror-hints {
	border: 2px solid var(--off-white) !important;
	background-color: var(--off-white) !important;
	border-radius: 4px;
	padding: unset !important;
	min-width: 240px;
}
.CodeMirror-hint {
	color: var(--off-black);
	font-family: "Geist Mono", monospace;
	font-variation-settings: "wght" 350;
	font-weight: 350;
	line-height: 1.4em;
	font-size: 14px;
	border-radius: unset;
	padding: 4px 8px !important;
}
.CodeMirror-hint:hover {
	background-color: var(--light-gray);
	opacity: 1;
}
.CodeMirror-hint:active {
	opacity: .5;
}
li.CodeMirror-hint-active {
	color: var(--off-black) !important;
	background-color: var(--green) !important;
}

.CodeMirror pre > * { text-indent: 0px; }

/* Preview panel */
.preview-container {
	width: 100%;
	height: 100%;
	display: flex;
	flex-direction: column;
	position: relative;
	overflow: scroll;
	background-color: rgba(var(--primary-rgb), .05);
}
.preview-msg-container {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 9;
	background-color: rgba(0,0,0,.75);
	backdrop-filter: blur(5px);
	-webkit-backdrop-filter: blur(5px);
	padding: 24px;
	min-width: 320px;
	text-wrap: balance;
}
.preview-msg-container[data-active="0"] {
	display: none;
}
.preview-msg {
	display: flex;
	align-items: center;
	flex-direction: column;
	text-align: center;
	line-height: 1.4em;
	font-size: 10px;
	animation: preview-msg 1s ease-in-out infinite alternate;
}
.preview-msg svg {
	flex: 0 0 auto;
	height: 16px;
	width: 16px;
	fill: var(--off-white);
	transform: rotate(-90deg);
}
.preview-msg-text {
	flex-shrink: 0;
	display: flex;
	align-items: center;
	flex-direction: column;
	gap: 8px;
	padding: 16px;
	text-align: center;
	color: var(--off-white);
}
.preview-msg-text-title {
	font-size: 10px;
	font-variation-settings: 'wght' 700, 'SRFF' 0;
	font-weight: 700;
	letter-spacing: .1em;
	line-height: 1em;
	color: var(--primary);
}
.preview-msg-text-body {
	font-size: 18px;
	line-height: 1.2em;
	font-variation-settings: 'wght' 400, 'SRFF' 0;
	font-weight: 400;
}
@keyframes preview-msg {
	from {
		transform: translateY(-8px);
	}
	to {
		transform: translateY(0px);
	}
}
.preview-delay-timer {
	border: 2px solid var(--primary);
	width: 100%;
	height: 24px;
	max-width: 240px;
	padding: 2px;
	border-radius: 6px;
}
.preview-delay-timer-inside {
	width: 100%;
	height: 100%;
	border-radius: 2px;
	background-color: var(--primary);
	transform-origin: left;
	animation-duration: 5s;
	animation-fill-mode: forwards;
	animation-timing-function: linear;
}
@keyframes preview-delay {
	from {
		width: 100%;
	}
	to {
		width: 0%;
	}
}
.preview-content {
	flex-grow: 1;
	width: 100%;
	background-color: white;
	border: unset;
	min-width: 320px;
}
.preview-controls {
	display: flex;
	gap: 1px;
	background-color: var(--off-black);
	flex-shrink: 0;
	overflow-x: scroll;
	border-top: 1px solid rgba(var(--primary-rgb), .5);
	overflow-x: scroll;
}
.preview-controls button {
	border: unset;
	flex-grow: 1;
	fill: var(--primary);
	outline: 1px solid rgba(var(--primary-rgb), .25);
	background-color: rgba(var(--primary-rgb), .25);
	color: var(--off-white);
	cursor: pointer;
	display: flex;
	align-items: center;
	justify-content: center;
	text-transform: uppercase;
	letter-spacing: .1em;
	font-size: 10px;
	padding: 8px 12px;
	gap: 12px;
	font-variation-settings: 'wght' 700, 'SRFF' 0;
	font-weight: 700;
	flex-basis: 0;
}
.preview-controls button[data-active="1"] {
	fill: var(--off-black);
	color: var(--off-black);
	background-color: var(--primary);
}
.preview-controls button svg {
	flex-shrink: 0;
	height: 20px;
	width: 20px;
}
.preview-controls button span {
	padding-top: .2em;
}
.preview-controls button:hover {
	background-color: var(--off-white);
	fill: var(--off-black);
	color: var(--off-black)
}
.preview-controls button:active {
	opacity: .5;
}