@font-face {
	font-family: "Limkin";
	src: url("https://toomuchtype.com/fonts/limkin/variable/TMT-LimkinVF.ttf") format(truetype),
		 url("https://toomuchtype.com/fonts/limkin/variable/TMT-LimkinVF.woff") format(woff),
		 url("https://toomuchtype.com/fonts/limkin/variable/TMT-LimkinVF.woff2") format(woff2);
	font-weight: 100 900;
}
:root {
	--pink: #F3A8DD;
	--green: #98DB6B;
	--blue: #5ADDE8;
	--yellow: #fcc03a;
	--purple: #A690FC;
	--red: #FF734D;

	--pink-rgb: 243, 168, 221;
	--green-rgb: 152, 219, 107;
	--blue-rgb: 90, 221, 232;
	--yellow-rgb: 252, 192, 58;
	--purple-rgb: 166, 144, 252;
	--red-rgb: 255, 115, 77;

	--off-white: #fafafa;
	--light-gray: #e5e5e5;
	--dark-gray: #444444;
	--off-black: #222222;

	--primary: var(--off-white);
}
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	scroll-behavior: smooth;
}
body {
	font-family: 'Limkin', sans-serif;
	font-variation-settings: 'wght' 350, 'SRFF' 0;
	font-weight: 350;
	color: var(--off-white);
	background-color: #191919;
}
button {
	font-family: inherit;
}
.home-vignette {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	z-index: -1;
	mask-image: linear-gradient(black, rgba(0,0,0,.5));
	-webkit-mask-image: linear-gradient(black, rgba(0,0,0,.5));
	opacity: .5;
	backdrop-filter: blur(20px) brightness(50%);
	-webkit-backdrop-filter: blur(20px) brightness(50%);
	display: none;
}

/* Animations */
@keyframes rainbow {
	0% {
		background-color: var(--pink);
	}
	17% {
		background-color: var(--green);
	}
	34% {
		background-color: var(--blue);
	}
	51% {
		background-color: var(--yellow);
	}
	68% {
		background-color: var(--purple);
	}
	84% {
		background-color: var(--red);
	}
	100% {
		background-color: var(--pink);
	}
}
@keyframes rainbow-text {
	0% {
		color: var(--pink);
	}
	17% {
		color: var(--green);
	}
	34% {
		color: var(--blue);
	}
	51% {
		color: var(--yellow);
	}
	68% {
		color: var(--purple);
	}
	84% {
		color: var(--red);
	}
	100% {
		color: var(--pink);
	}
}

/* Intro */
.intro {
	position: fixed;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	z-index: 9;
	min-height: 100dvh;
	overflow-y: scroll;
}
.intro-content {
	padding: 128px 128px 240px 128px;
	min-height: 100%;
	gap: 128px;
	max-width: 1600px;
	align-items: start;
	margin: 0 auto;
	width: 100%;
	display: grid;
	grid-template-columns: 540px 2fr;
}
body[data-initialized="1"] .intro {
	transition: transform .5s cubic-bezier(0.25, 1, 0.5, 1);
}
.intro[data-active="0"] {
	transform: translateX(-100%);
}
.intro-header {
	display: flex;
	flex-direction: column;
	justify-content: center;
	gap: 24px;
	min-height: calc(100dvh - calc(128px + 240px));
	position: sticky;
	top: 128px;
	animation: intro-header 2s forwards cubic-bezier(0.25, 1, 0.5, 1);
	transform: translateX(-400px);
	opacity: 0;
}
@keyframes intro-header {
	from {
		transform: translateX(-400px);
		opacity: 0;
	}
	to {
		transform: translateX(0px);
		opacity: 1;
	}
}
.intro-title {
	font-size: 40px;
	text-wrap: balance;
	letter-spacing: -0.04em;
	font-variation-settings: "wght" 700, "SRFF" 0;
	font-weight: 700;
	line-height: 1.1em;
	opacity: 1;
	max-width: 16em;
	animation: intro-title 2s infinite ease-in-out alternate;
}
.intro-title span {
	animation: rainbow-text 10s infinite ease-in-out;
}
@keyframes intro-title {
	from {
		transform: translateY(-20px);
	}
	to {
		transform: translateY(0px);
	}
}
.intro-subtitle {
	font-size: 18px;
	gap: .75em;
	line-height: 1.4em;
	text-wrap: pretty;
	font-variation-settings: "wght" 300, "SRFF" 0;
	font-weight: 350;
	display: flex;
	flex-direction: column;
}
.intro-subtitle a {
	text-decoration-thickness: 1px;
	text-underline-offset: .15em;
	color: var(--off-white);
	font-variation-settings: "wght" 600, "SRFF" 0;
	font-weight: 600;
}
.intro-subtitle a:hover {
	opacity: .8;
}
.intro-subtitle a:active {
	opacity: .5;
}

/* Intro index */
.intro-index {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	gap: 16px;
	border-radius: 4px;
	animation: intro-index 2s .35s forwards cubic-bezier(0.25, 1, 0.5, 1);
	transform: translateX(-200px);
	opacity: 0;
	min-height: calc(100dvh - calc(128px + 240px));
}
@keyframes intro-index {
	from {
		transform: translateX(-200px);
		opacity: 0;
	}
	to {
		transform: translateX(0px);
		opacity: 1;
	}
}
.intro-index-title {
	flex-shrink: 0;
	color: var(--off-white);
	display: flex;
	text-transform: uppercase;
	align-items: center;
	justify-content: center;
	/* padding: 8px calc(16px - .1em) 8px 16px; */
	letter-spacing: 0.1em;
	font-size: 12px;
	line-height: 1em;
	gap: 8px;
	font-variation-settings: "wght" 700, "SRFF" 0;
	font-weight: 700;
	border-radius: 4px;
	fill: var(--off-white);
	/* animation: 10s rainbow infinite ease-in-out; */
}
.intro-index-title svg {
	width: 16px;
	height: 16px;
}
.intro-index-title span {
	padding-top: .2em;
}
.intro-index-link {
	width: 100%;
	color: var(--off-white);
	text-decoration: none;
	padding: 24px 32px;
	display: flex;
	align-items: center;
	justify-content: space-between;
	border: 1px solid rgba(var(--primary-rgb), .5);
	background-color: rgba(var(--primary-rgb), .25);
	font-size: max(18px, 1.5vw);
	border-radius: 4px;
	font-variation-settings: "wght" 600, "SRFF" 0;
	font-weight: 600;
	gap: 64px;
	transition: transform .2s;
	min-height: 160px;
}
.intro-index-link:nth-child(6n+2) {
	--primary: var(--pink);
	--primary-rgb: var(--pink-rgb);
}
.intro-index-link:nth-child(6n+3) {
	--primary: var(--green);
	--primary-rgb: var(--green-rgb);
}
.intro-index-link:nth-child(6n+4) {
	--primary: var(--blue);
	--primary-rgb: var(--blue-rgb);
}
.intro-index-link:nth-child(6n+5) {
	--primary: var(--yellow);
	--primary-rgb: var(--yellow-rgb);
}
.intro-index-link:nth-child(6n+6) {
	--primary: var(--purple);
	--primary-rgb: var(--purple-rgb);
}
.intro-index-link:nth-child(6n+1) {
	--primary: var(--red);
	--primary-rgb: var(--red-rgb);
}
.intro-index-link-title {
	padding-top: .3em;
	font-size: 24px;
	line-height: 1.1em;
	font-variation-settings: "wght" 700, "SRFF" 0;
	font-weight: 700;
	text-wrap: pretty;
	letter-spacing: -0.02em;
	color: var(--primary);
}
.intro-index-link-shortdesc {
	padding-top: .4em;
	font-size: 18px;
	margin-top: 4px;
	line-height: 1.4em;
	font-variation-settings: "wght" 300, "SRFF" 0;
	font-weight: 350;
	text-wrap: pretty;
	/* opacity: .5; */
}
.intro-index-link-info {
	font-size: 18px;
	display: flex;
	gap: 8px;
	align-items: end;
	flex-direction: column;
	justify-content: center;
	white-space: nowrap;
}
.intro-index-link-info div {
	min-width: 24px;
	min-height: 24px;
	flex-shrink: 0;
	display: flex;
	text-transform: uppercase;
	align-items: center;
	color: var(--off-black);
	background-color: var(--primary);
	justify-content: center;
	padding: .2em .6em 0 .7em;
	letter-spacing: 0.1em;
	line-height: 1em;
	font-size: 12px;
	font-variation-settings: "wght" 700, "SRFF" 0;
	font-weight: 700;
	border-radius: 4px;
}
.intro-index-link:hover {
	background-color: var(--off-white);
	color: var(--off-black);
	transform: scale(1.02);
}
.intro-index-link:hover .intro-index-link-title {
	color: var(--off-black);
}
.intro-index-link:hover .intro-index-link-info div {
	background-color: var(--off-black);
	color: var(--off-white);
}
.intro-index-link:active {
	opacity: .5;
	transform: scale(0.98);
}

/* Home books */
.home-books-container {
	position: fixed;
	bottom: 0px;
	left: 0;
	right: 0;
	height: 210px;
	z-index: 9;
	overflow: hidden;
	animation: home-books 2s 1s forwards cubic-bezier(0.25, 1, 0.5, 1);
	transform: translateY(100%);
}
@keyframes home-books {
	from {
		transform: translateY(100%);
	}
	to {
		transform: translateY(0%);
	}
}
.home-books {
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
	display: flex;
	align-items: end;
	transition: transform .5s;
}
body[data-intro="0"] .home-books {
	transform: translateY(100%);
}
body[data-intro="0"] .home-books-container {
	pointer-events: none;
}
@media only screen and (max-height: 720px) {
	.home-books-container {
		pointer-events: none;
	}
	.home-books {
		transform: translateY(100%);
	}
}
.home-books-unit {
	display: flex;
	align-items: end;
	gap: 1px;
	justify-content: center;
	padding-right: 1px;
	animation: home-books-unit 100s infinite linear reverse;
}
@keyframes home-books-unit {
	from {
		transform: translateX(0%);
	}
	to {
		transform: translateX(-100%);
	}
}
.home-books-unit-book {
	flex-shrink: 0;
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: var(--primary);
	color: var(--off-black);
	white-space: nowrap;
	overflow: hidden;
	height: 100%;
	text-decoration: none;
	border-radius: 4px;
}
.home-books-unit-book:hover {
	background-color: var(--off-white);
}
.home-books-unit-book:active {
	opacity: .5;
}
.home-books div span {
	max-height: 200px;
	font-size: 12px;
	text-overflow: ellipsis;
	overflow: hidden;
	padding: 16px .7em 16px .55em;
	line-height: 1em;
	writing-mode: vertical-rl;
	font-variation-settings: "wght" 600, "SRFF" 0;
	font-weight: 600;
}

/* Home books background (not clickable) */
.home-books-background-container {
	position: fixed;
	bottom: 0px;
	left: 0;
	right: 0;
	height: 100dvh;
	overflow: hidden;
	z-index: -2;
	filter: blur(10px) brightness(60%);
	pointer-events: none;
	animation: home-books 2s .25s forwards cubic-bezier(0.25, 1, 0.5, 1);
	transform: translateY(100%);
	transition: filter 1s;
}
body[data-intro="0"] .home-books-background-container {
	filter: blur(10px) brightness(20%);
}
.home-books-background {
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
	display: flex;
	align-items: end;
}
.home-books-background-unit {
	display: flex;
	align-items: end;
	gap: 1px;
	justify-content: center;
	padding-right: 1px;
	animation: home-books-unit 300s infinite reverse linear;
}
.home-books-background-unit-book {
	flex-shrink: 0;
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: var(--primary);
	color: var(--off-black);
	white-space: nowrap;
	overflow: hidden;
	height: 100%;
	text-decoration: none;
	border-radius: 4px;
}
.home-books-background div span {
	font-size: 24px;
	text-overflow: ellipsis;
	overflow: hidden;
	padding: 16px .7em 16px .55em;
	line-height: 1em;
	writing-mode: vertical-rl;
	font-variation-settings: "wght" 600, "SRFF" 0;
	font-weight: 600;
}

/* Home books background2 (further away) */
.home-books-background2-container {
	position: fixed;
	bottom: 0px;
	left: 0;
	right: 0;
	height: 100dvh;
	overflow: hidden;
	z-index: -3;
	filter: blur(20px) brightness(30%);
	pointer-events: none;
	animation: home-books 2s forwards cubic-bezier(0.25, 1, 0.5, 1);
	transform: translateY(100%);
	transition: filter 1s;
}
body[data-intro="0"] .home-books-background2-container {
	filter: blur(20px) brightness(10%);
}
.home-books-background2 {
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
	display: flex;
	align-items: end;
}
.home-books-background2-unit {
	display: flex;
	align-items: end;
	gap: 1px;
	justify-content: center;
	padding-right: 1px;
	animation: home-books-unit 600s infinite reverse linear;
}
.home-books-background2-unit-book {
	flex-shrink: 0;
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: var(--primary);
	color: var(--off-black);
	white-space: nowrap;
	overflow: hidden;
	height: 100%;
	text-decoration: none;
	border-radius: 4px;
}
.home-books-background2 div span {
	font-size: 48px;
	text-overflow: ellipsis;
	overflow: hidden;
	padding: 16px .7em 16px .55em;
	line-height: 1em;
	writing-mode: vertical-rl;
	font-variation-settings: "wght" 600, "SRFF" 0;
	font-weight: 600;
}

/* Intro mobile styles */
@media only screen and (max-height: 720px) {
	.intro-content {
		padding: 128px;
	}
	.intro-header {
		min-height: calc(100dvh - calc(128px + 128px));
	}
	.intro-index {
		min-height: calc(100dvh - calc(128px + 128px));
	}
}
@media only screen and (max-width: 1600px) {
	.intro-content {
		gap: 64px;
		padding: 128px 64px 240px 64px;
	}
	.intro-header {
		top: 128px;
		min-height: calc(100dvh - calc(128px + 240px));
	}
	.intro-index {
		min-height: calc(100dvh - calc(128px + 240px));
	}
}
@media only screen and (max-width: 1400px) {
	.intro-content {
		grid-template-columns: 1fr 1.5fr;
	}
}
@media only screen and (max-width: 1000px) {
	.intro-content {
		grid-template-columns: 1fr;
		padding: 128px 64px;
		gap: 128px;
	}
	.intro-header {
		height: unset;
		position: static;
		padding: 0;
		max-width: 540px;
		justify-self: center;
		align-items: center;
		justify-content: center;
		width: 100%;
		min-height: unset;
	}
	.intro-title {
		text-align: center;
	}
	.intro-subtitle {
		text-align: center;
	}
	.intro-index {
		min-height: unset;
	}
	.home-books-container {
		display: none;
	}
}
@media only screen and (max-width: 800px) {
	.intro-index-link {
		flex-direction: column;
		gap: 16px;
		align-items: start;
	}
	.intro-index-link-info {
		flex-direction: row;
		flex-wrap: wrap;
		align-items: center;
		justify-content: center;
	}
}
@media only screen and (max-width: 600px) {
	.intro-title {
		max-width: unset;
		text-align: left;
	}
	.intro-subtitle {
		text-align: left;
	}
	.intro-content {
		padding: 128px 32px 64px 32px;
		gap: 64px;
	}
}
@media only screen and (max-width: 400px) {
	.intro-title {
		font-size: 28px;
		text-wrap: pretty;
	}
}

/* Book */
.book {
	position: fixed;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	overflow-y: scroll;
	padding: 64px;
	width: 100vw;
}
.book:focus {
	outline: unset;
}
body[data-initialized="1"] .book {
	transition: transform .5s cubic-bezier(0.25, 1, 0.5, 1);
}
.book[data-active="0"] {
	transform: translateX(100vw);
}
.book-content {
	max-width: 1600px;
	width: 100%;
	margin: 0 auto;
	display: grid;
	align-items: start;
	align-content: start;
	grid-template-columns: minmax(320px, 1fr) 3fr;
	gap: 64px;
}
@media only screen and (max-width: 900px) {
	.book-content {
		display: flex;
		flex-direction: column;
	}
}

/* Book intro */
.book-intro {
	display: flex;
	flex-direction: column;
	align-items: start;
	position: sticky;
	top: 0px;
	max-width: 480px;
}
.book-intro-return {
	border: 1px solid var(--dark-gray);
	padding: 6px 12px;
	font-size: 18px;
	line-height: 1.2em;
	font-variation-settings: "wght" 600, "SRFF" 0;
	font-weight: 600;
	text-decoration: none;
	color: var(--off-white);
	fill: var(--primary);
	background-color: var(--off-black);
	border-radius: 4px;
	min-height: 40px;
	flex-shrink: 0;
	display: flex;
	align-items: center;
	justify-content: center;
	cursor: pointer;
	gap: 6px;
	margin-bottom: 32px;
}
.book-intro-return svg {
	width: 20px;
	height: 20px;
}
.book-intro-return span {
	padding-top: .2em;
}
.book-intro-return:hover {
	background-color: var(--off-white);
	color: var(--off-black);
	fill: vaR(--off-black);
}
.book-intro-return:active {
	opacity: .5;
}
.book-intro-title {
	font-size: 40px;
	text-wrap: balance;
	color: var(--off-white);
	letter-spacing: -.04em;
	font-variation-settings: "wght" 700, "SRFF" 0;
	font-weight: 700;
	line-height: 1.1em;
	margin-bottom: 24px;
}
.book-intro-desc {
	font-size: 18px;
	line-height: 1.4em;
	text-wrap: pretty;
	display: flex;
	flex-direction: column;
	gap: 12px;
	font-variation-settings: "wght" 300, "SRFF" 0;
	font-weight: 350;
}
.book-intro-desc a {
	text-decoration: underline;
	text-decoration-thickness: 1px;
	text-underline-offset: .15em;
	color: var(--off-white);
}
.book-intro-desc a:hover {
	color: var(--off-white);
}
.book-intro-desc a:active {
	opacity: .5;
}
@media only screen and (max-width: 900px) {
	.book {
		grid-template-columns: 1fr;
	}
	.book-intro {
		position: static;
	}
}
@media only screen and (max-width: 600px) {
	.book {
		padding: 32px;
	}
	.book-intro-title {
		font-size: 32px;
	}
}

/* Book chapters */
.chapter-grid {
	display: grid;
	justify-content: start;
	grid-template-columns: repeat(auto-fill, minmax(320px, 1fr));
	grid-auto-rows: 540px;
	height: 100%;
	gap: 32px;
}
.chapter {
	overflow-y: auto;
	display: flex;
	flex-direction: column;
	opacity: 1;
	border: 1px solid rgba(var(--primary-rgb), .25);
	background-color: rgba(var(--primary-rgb), .25);
	border-radius: 4px;
	transition: transform .2s, filter .2s;
}
.chapter:nth-child(6n+1) {
	--primary: var(--pink);
	--primary-rgb: var(--pink-rgb);
}
.chapter:nth-child(6n+2) {
	--primary: var(--green);
	--primary-rgb: var(--green-rgb);
}
.chapter:nth-child(6n+3) {
	--primary: var(--blue);
	--primary-rgb: var(--blue-rgb);
}
.chapter:nth-child(6n+4) {
	--primary: var(--yellow);
	--primary-rgb: var(--yellow-rgb);
}
.chapter:nth-child(6n+5) {
	--primary: var(--purple);
	--primary-rgb: var(--purple-rgb);
}
.chapter:nth-child(6n+6) {
	--primary: var(--red);
	--primary-rgb: var(--red-rgb);
}
.chapter[data-active="0"] {
	filter: grayscale(50%) brightness(75%);
}
.chapter::-webkit-scrollbar {
	width: 8px;
	background-color: var(--dark-gray);
	border-radius: 8px;
}
.chapter::-webkit-scrollbar-track {
	background: rgba(var(--primary-rgb), .25);
	border-radius: 8px;
}
.chapter::-webkit-scrollbar-thumb {
	background: var(--primary);
	background-clip: content-box;
	border-radius: 8px;
}
.chapter::-webkit-scrollbar-thumb:hover {
	background: var(--off-white);
}
.chapter-header {
	padding: 24px;
	display: flex;
	flex-direction: column;
	align-items: start;
	min-height: 280px;
	flex-shrink: 0;
}
.chapter-link {
	color: var(--off-white);
	text-decoration: none;
	display: flex;
	flex-direction: column;
	align-items: start;
}
.chapter-link:active {
	opacity: .5;
}
.chapter-subtitle {
	min-width: 24px;
	min-height: 24px;
	flex-shrink: 0;
	color: var(--off-black);
	background-color: var(--primary);
	display: flex;
	text-transform: uppercase;
	align-items: center;
	justify-content: center;
	padding: .2em .6em 0 .7em;
	letter-spacing: 0.1em;
	font-size: 12px;
	font-variation-settings: "wght" 700, "SRFF" 0;
	font-weight: 700;
	margin-bottom: 24px;
	border-radius: 4px;
}
.chapter-title {
	display: flex;
	font-size: 24px;
	text-wrap: balance;
	color:var(--primary);
	letter-spacing: -.02em;
	font-variation-settings: "wght" 700, "SRFF" 0;
	font-weight: 700;
	line-height: 1.1em;
	margin-bottom: 24px;
}
.chapter-link:hover .chapter-subtitle {
	background-color: var(--off-white);
	animation: unset;
}
.chapter-link:hover .chapter-title {
	color: var(--off-white);
	animation: unset;
}
.chapter-desc {
	font-size: 18px;
	line-height: 1.4em;
	text-wrap: pretty;
	font-variation-settings: "wght" 300, "SRFF" 0;
	font-weight: 350;
	flex-grow: 1;
}
.chapter-desc a {
	text-decoration: underline;
	text-decoration-thickness: 1px;
	text-underline-offset: .15em;
	color: var(--off-white);
}
.chapter-desc a:hover {
	opacity: 0.8;
}
.chapter-desc a:active {
	opacity: 0.5;
}
.chapter-open {
	margin-top: 12px;
	border: 1px solid rgba(var(--primary-rgb), .5);
	padding: 6px 12px;
	font-size: 18px;
	line-height: 1.2em;
	font-variation-settings: "wght" 600, "SRFF" 0;
	font-weight: 600;
	text-decoration: none;
	color: var(--off-white);
	fill: var(--primary);
	background-color: rgba(var(--primary-rgb), .25);
	border-radius: 4px;
	min-height: 40px;
	flex-shrink: 0;
	display: flex;
	align-items: center;
	justify-content: center;
	cursor: pointer;
	gap: 6px;
}
.chapter-open svg {
	width: 20px;
	height: 20px;
}
.chapter-open span {
	padding-top: .2em;
}
.chapter-open:hover {
	background-color: var(--off-white);
	color: var(--off-black);
	fill: var(--off-black);
}
.chapter-open:active {
	opacity: .5;
}
.chapter-demos {
	flex-grow: 1;
	display: flex;
	flex-direction: column;
	opacity: .25;
	background-color: rgba(0,0,0,.25);
}
.chapter:hover {
	transform: scale(1.02);
}
.chapter:hover .chapter-demos {
	opacity: 1;
}
.chapter-demo {
	border-top: 1px solid var(--dark-gray);
	display: flex;
	gap: 12px;
	text-decoration: none;
	color: var(--off-white);
	padding: 16px 24px;
	align-items: center;
}
.chapter-demo:nth-child(6n+1) {
	--primary: var(--pink);
	--primary-rgb: var(--pink-rgb);
}
.chapter-demo:nth-child(6n+2) {
	--primary: var(--green);
	--primary-rgb: var(--green-rgb);
}
.chapter-demo:nth-child(6n+3) {
	--primary: var(--blue);
	--primary-rgb: var(--blue-rgb);
}
.chapter-demo:nth-child(6n+4) {
	--primary: var(--yellow);
	--primary-rgb: var(--yellow-rgb);
}
.chapter-demo:nth-child(6n+5) {
	--primary: var(--purple);
	--primary-rgb: var(--purple-rgb);
}
.chapter-demo:nth-child(6n+6) {
	--primary: var(--red);
	--primary-rgb: var(--red-rgb);
}
.chapter:hover .chapter-demo {
	border-top: 1px solid rgba(var(--primary-rgb), .25);
	background-color: rgba(var(--primary-rgb), .25);
}
.chapter-demo-number {
	flex-shrink: 0;
	width: 24px;
	height: 24px;
	color: var(--off-white);
	background-color: var(--dark-gray);
	border-radius: 4px;
	display: flex;
	align-items: center;
	justify-content: center;
	font-size: 12px;
	padding-top: .2em;
	font-variation-settings: "wght" 700, "SRFF" 0;
	font-weight: 700;
}
.chapter-demo-name {
	padding-top: .2em;
	font-size: 18px;
	line-height: 1.2em;
	font-variation-settings: "wght" 600, "SRFF" 0;
	font-weight: 600;
	text-wrap: pretty;
}
.chapter:hover .chapter-demo-number {
	color: var(--off-black);
	background-color: var(--primary);
}
.chapter:hover .chapter-demo:hover {
	background-color: var(--off-white);
	color: var(--off-black);
}
.chapter:hover .chapter-demo:hover .chapter-demo-number {
	background-color: var(--off-black);
	color: var(--off-white);
}
.chapter-demo:active {
	opacity: .5;
}
@media only screen and (max-width: 900px) {
	.chapter-grid {
		grid-template-columns: 1fr 1fr;
		gap: 16px;
		grid-auto-rows: auto;
	}
	.chapter-demos {
		display: none;
	}
	.chapter {
		filter: unset !important;
	}
}
@media only screen and (max-width: 750px) {
	.chapter-grid {
		grid-template-columns: 1fr;
	}
}

/* Info */
.toggles {
	position: fixed;
	top: 12px;
	right: 12px;
	display: flex;
	gap: 8px;
	z-index: 998;
}
.toggles button, .toggles a {
	border: 1px solid var(--dark-gray);
	padding: 6px 12px;
	font-size: 18px;
	line-height: 1.2em;
	font-variation-settings: "wght" 600, "SRFF" 0;
	font-weight: 600;
	text-decoration: none;
	color: var(--off-white);
	fill: var(--primary);
	background-color: var(--off-black);
	border-radius: 4px;
	min-height: 40px;
	flex-shrink: 0;
	display: flex;
	align-items: center;
	justify-content: center;
	cursor: pointer;
	gap: 6px;
}
.toggles button svg, .toggles a svg {
	width: 20px;
	height: 20px;
}
.toggles button span, .toggles a span {
	padding-top: .2em;
}
.toggles button:hover, .toggles a:hover {
	background-color: var(--off-white);
	fill: var(--off-black);
	color: var(--off-black);
}
.toggles button:active, .toggles a:active {
	opacity: .5;
}
.info {
	position: fixed;
	top: 50%;
	left: 50%;
	width: calc(100% - 16px);
	max-width: 540px;
	max-height: calc(100dvh - 16px);
	overflow-y: scroll;
	background-color: var(--off-black);
	border: 1px solid var(--dark-gray);
	transform: scale(1) translate(-50%, -50%);
	z-index: 999;
	padding: 32px;
	border-radius: 4px;
	display: flex;
	flex-direction: column;
	gap: .7em;
	font-size: 18px;
	line-height: 1.4em;
	color: var(--off-white);
	text-wrap: pretty;
	min-height: 4.2em;
	font-variation-settings: "wght" 300, "SRFF" 0;
	font-weight: 350;
	transition: transform .4s cubic-bezier(0.34, 1.56, 0.64, 1);
	transform-origin: top left;
	box-shadow: 0 0 20px rgba(0,0,0,.25);
}
.info[data-active="0"] {
	transform: scale(0) translate(-50%, -50%);
	transition: transform .4s cubic-bezier(0.36, 0, 0.66, -0.56);
}
.info strong {
	font-variation-settings: "wght" 700, "SRFF" 0;
	font-weight: 700;
}
.info-divider {
	width: 100%;
	border-top: 1px solid var(--dark-gray);
	margin: 16px 0;
}
.info a {
	color: var(--off-white);
	text-decoration: underline;
	text-decoration-thickness: 1px;
	text-underline-offset: .15em;
}
.info a:hover {
	opacity: .8;
}
.info a:active {
	opacity: .5;
}
.info-credits {
	opacity: .5;
}
.info-close {
	position: absolute;
	top: 4px;
	right: 4px;
	width: 24px;
	height: 24px;
	border: unset;
	border-radius: 4px;
	background-color: var(--off-black);
	border: 1px solid var(--dark-gray);
	fill: var(--off-white);
	padding: 2px;
	margin-left: auto;
	cursor: pointer;
}
.info-close svg {
	width: 100%;
}
.info-close:hover {
	background-color: var(--off-white);
	fill: var(--dark-gray);
}
.info-close:active {
	opacity: .5;
}
@media only screen and (max-width: 600px) {
	.toggles span {
		display: none;
	}
}